/* Thu chi vi tong - Index */

.cash-index .filter-timeline,
.cash-process .filter-timeline{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.cash-index .filter-timeline{
  width: 51%;
}

.cash-index .form-group,
.cash-process .form-group{
  --w-label: 92px;
  margin-bottom: 0;
}

.filter-timeline .form-group:last-child{
  --w-label: 30px;
}

.spending-history{
  display: flex;
  justify-content: space-between;
}

.spending-history__list,
.spending-history__sort{
  padding: 24px;
  border-radius: 16px;
  background-color: var(--gray-cl-1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.spending-history__list{
  width: calc(56% - 12px);
  height: 324px;
}

.spending-history__result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-cl-6);
  margin-bottom: 16px;
}

.spending-history__result .text,
.spending-history__result .number{
  font-size: 20px;
  font-family: hm;
}

.spending-history__table{
  height: calc(100% - 71px);
  overflow-y: scroll;
}

.spending-history__table .table-list tbody tr td,
.spending-history__sort .table-list tbody tr td{
  border: 0 !important;
}

.spending-history__table .table-list td p{
  margin: 0;
}

.spending-history__table .table-list td p:first-child{
  font-size: 14px;
}

.spending-history__table .table-list td p:last-child{
  color: var(--gray-cl-7);
}

.spending-history__table .table-list td:last-child{
  font-family: hm;
}

.spending-history__sort{
  width: calc(44% - 12px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.spending-history__sort p{
  font-size: 20px;
  font-family: hm;
  color: var(--gray-cl-8);
}

.spending-history__sort .line{
  width: 100%;
  height: 1px;
  background-color: var(--gray-cl-6);
}

.spending-history__sort .table-list{
  min-height: 80px;
}

.spending-history__sort .table-list td:first-child{
  color: var(--gray-cl-7);
}

.cash-index .box-primary:last-child{
  padding: 0;
}

.cash-index .nav-tabs{
  --tab-count: 2;
}

.tab-pane__body .chart-item{
  border-radius: 16px;
}

.tab-pane__body .chart-item:first-child{
  background-color: var(--bg-green-cl);
}

.tab-pane__body .chart-item:last-child{
  background-color: var(--bg-purple-cl);
}

.tab-pane__body .read-more{
  width: 120px;
  margin-top: 24px;
  margin-left: auto;
  display: block;
  color: var(--primary-cl);
}

.cash-process .box-search{
  justify-content: center;
}

.cash-process .filter-timeline{
  width: 61%;
}

.cash-process__wrap{
  margin: 0 -24px;
}

.tab-pane__body .nav-tabs{
  margin-bottom: 24px;
}

.tab-pane__body .tab-pane{
  --w-fixed-col: 120px;
  position: relative;
  overflow: hidden;
}

.tab-pane__body .tab-pane .wrap {
  overflow-x: scroll;
  overflow-y: visible;
  width: calc(100% - 720px); 
  margin-left: calc(var(--w-fixed-col) * 5);
  margin-right: var(--w-fixed-col);
}

.tab-pane__body .tab-pane .wrap table {
  table-layout: fixed; 
  width: 100%;
}

.tab-pane__body .tab-pane .wrap td, 
.tab-pane__body .tab-pane .wrap th {
  width: 150px;
  padding: 10px;
  background-color: var(--white-cl);
}

.tab-pane__body .tab-pane .wrap td{
  height: 50px;
  font-size: 13px;
}

.tab-pane__body .tab-pane .wrap .fixed{
  width: var(--w-fixed-col);
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-pane__body .tab-pane .wrap th.fixed{
  height: 325px;
}

.tab-pane__body .tab-pane .wrap .fixed-1 {
  left: 0; 
}

.tab-pane__body .tab-pane .wrap tfoot .fixed-1{
  font-size: 16px;
  font-family: hb;
  width: calc(var(--w-fixed-col) * 2);
}

.tab-pane__body .tab-pane .wrap .fixed-2 {
  left: calc(var(--w-fixed-col) * 1); 
}

.tab-pane__body .tab-pane .wrap .fixed-3 {
  left: calc(var(--w-fixed-col) * 2); 
}

.tab-pane__body .tab-pane .wrap .fixed-4 {
  left: calc(var(--w-fixed-col) * 3); 
}

.tab-pane__body .tab-pane .wrap .fixed-5 {
  left: calc(var(--w-fixed-col) * 4); 
}

.tab-pane__body .tab-pane .wrap .fixed-last{
  right: 0;
}

#assessment .tab-pane__body tbody td:last-child{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

#assessment .tab-pane__body tbody td:last-child .progress{
  width: 100%;
  margin-top: 0;
}

#assessment .tab-pane__body tbody td:last-child p{
  margin: 0;
  font-size: 13px;
  width: calc(50% - 8px);
}

#assessment .tab-pane__body tbody td:last-child .square{
  width: 8px;
  height: 8px;
  border-radius: 2px;
  margin-right: 5px;
  display: inline-block;
}

#assessment .tab-pane__body tbody td:last-child .progress-bar-success,
#assessment .tab-pane__body tbody td:last-child .status-success{
  background-color: #0A9A4A;
}

#assessment .tab-pane__body tbody td:last-child .progress-bar-danger,
#assessment .tab-pane__body tbody td:last-child .status-error{
  background-color: #BC2C22;
}