.cashasset-index .chart-list{
  --chart-count: 3;
}

.cashasset-index .box:last-child .noti-index{
  display: none;
}

.cashasset-index .box-search .control{
  width: 100%;
}

.cashasset-index .box-search .btn-debt,
.cashasset-index .box-search .btn-asset{
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.cashasset-index thead tr:last-child th:first-child{
  display: none;
}

.cashasset-index tbody td:nth-child(3) p:last-child{
  margin-bottom: 0;
}

.cashasset-index tbody td:nth-child(7) span,
.cashasset-index tbody td:last-child span{
  white-space: nowrap;
}

.cashasset-add .btn-save,
.cashasset-edit .btn-save{
  width: auto;
  margin-top: 24px;
  margin-left: 237px;
}

@media (max-width: 575.98px){
  .cashasset-index .noti-index__wrap{
    padding-left: 0;
    padding-right: 0;
  }

  .cashasset-index .chart-list{
    --chart-count: 1;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .cashasset-index .box-search .control{
    justify-content: flex-end;
  }

  .cashasset-index .box:last-child .noti-index{
    display: block;
  }

  .cashasset-index .table-wrap .table-content{
    width: calc(100% - 292px); 
    margin-left: 292px;
    margin-right: 0;
  }

  .cashasset-index thead tr:first-child th:last-child{
    width: 300px;
  }

  .cashasset-index thead tr:last-child th:first-child{
    display: inline-table;
  }

  .cashasset-index .table-wrap table th.fixed{
    height: 80px;
  }

  .cashasset-index .table-wrap table td:not(.fixed){
    background-color: var(--gray-cl-3);
  }

  .cashasset-index .table-wrap table .fixed:first-child{
    width: 32px;
  }

  .cashasset-index .table-wrap table .fixed:nth-child(2){
    width: 39px;
  }

  .cashasset-index .table-wrap table .fixed-2 {
    left: 32px; 
  }

  .cashasset-index .table-wrap table .fixed-3 {
    width: 220px;
    left: 71px; 
  }

  .cashasset-index .table-wrap table td.fixed-3{
    align-items: flex-start;
    flex-direction: column;
  }

  .cashasset-index table tfoot{
    display: none;
  }

  .cashasset-add .btn-save,
  .cashasset-edit .btn-save{
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }
}