.cashplan-index .box-search{
  justify-content: flex-end;
}

.cashplan-index .filter-timeline{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cashplan-index .form-group{
  --w-label: 130px;
  width: 100%;
  margin-bottom: 0;
}

.cashplan-index .form-group label{
  color: var(--gray-cl-5);
}

.cashplan-index .btn-add,
.cashplan-analysis .btn-add{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
}

.cashplan-index .btn-add{
  width: 182px;
}

.cashplan-add  .btn-add{
  margin-top: 22px;
  margin-left: calc(227px + 16px);
}

.cashplan-analysis .btn-add{
  width: 220px;
}

.cashplan-analysis .box-primary:last-child{
  padding: 0;
}

.cashplan-analysis .chart-body{
  padding: 16px;
  border-radius: 16px;
  background-color: var(--gray-cl-1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.cashplan-analysis .chart-body .chart-unit{
  margin-bottom: 24px;
}

.cashplan-analysis .chart-body #chart .c3-axis-y,
.cashplan-analysis .chart-body #chart .c3-legend-item{
  font-family: hr;
  font-size: 14px;
}

@media (max-width: 1199.98px){
  .cashplan-index .filter-timeline{
    width: 318px;
  }

  .cashplan-index .table-wrap .table-content{
    width: calc(100% - 192px); 
    margin-left: 192px;
    margin-right: 0;
  }

  .cashplan-index .table-wrap table td:not(.fixed){
    background-color: var(--gray-cl-3);
  }

  .cashplan-index .table-wrap table .fixed:first-child{
    width: 32px;
  }

  .cashplan-index .table-wrap table .fixed:nth-child(2){
    width: 39px;
  }

  .cashplan-index .table-wrap table .fixed-2 {
    left: 32px; 
  }

  .cashplan-index .table-wrap table .fixed-3 {
    left: 71px; 
  }
}

@media (max-width: 991.98px){
  .cashplan-index .noti-index__wrap,
  .cashplan-analysis .noti-index__wrap{
    padding-left: 0;
    padding-right: 0;
  }

  .cashplan-index .filter-timeline{
    width: 60%;
  }

  .cashplan-add  .btn-add{
    width: 100%;
    margin-left: 0;
  }

  .cashplan-analysis .box-primary:last-child{
    padding: 16px 24px;
  }

  .nav-tabs__mobile{
    margin-bottom: 24px;
  }

  .nav-tabs__mobile::before,
  .nav-tabs__mobile::after{
    display: none;
  }

  .nav-tabs__mobile li{
    --w-tabs: calc(100% / 3);
    width: calc(var(--w-tabs) - 8px);
    flex-grow: 1;
  }

  .nav-tabs__mobile li a{
    text-align: center;
  }

  .tab-pane__body{
    padding: 0;
  }

  .cashplan-analysis .noti-index__item:first-child{
    width: 100%;
  }

  .cashplan-analysis .chart-body{
    padding: 16px 0;
  }
}