.cashplan .btn-add,
.cashplan-analysis .btn-add{
  width: 182px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;
  margin-bottom: 24px;
}

.cashplan-add  .btn-add{
  margin-top: 22px;
  margin-left: calc(227px + 16px);
}

.cashplan-analysis .box-primary:last-child{
  padding: 0;
}

.cashplan-analysis .chart-body{
  padding: 16px;
  border-radius: 16px;
  background-color: var(--gray-cl-1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.cashplan-analysis .chart-body .chart-unit{
  margin-bottom: 24px;
}

.cashplan-analysis .chart-body #chart .c3-axis-y,
.cashplan-analysis .chart-body #chart .c3-legend-item{
  font-family: hr;
  font-size: 14px;
}