/* Contract package */

.package-list{
  --package-count: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.package-item{
  --w-item: calc(100% / var(--package-count));
  width: calc(var(--w-item) - 8px);
  border-radius: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.package-item:first-child{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  column-gap: 95px;
  padding-left: 50px;
  background: url('../../../img/web/package-bg.jpg') center center/cover no-repeat;
}

.package-item:first-child .package-content p:first-child{
  font-family: hb;
  font-size: 80px;
  line-height: 98px;
  margin-bottom: 16px;
  background: linear-gradient(93.37deg, #FBC540 11.76%, #FDEBBE 49.54%, #FBC540 80.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.package-item:first-child .package-content p:last-child{
  font-size: 40px;
  color: var(--bg-cyan-cl);
}

.package-item .package-control,
.package-control .package-price,
.package-control .package-price .info,
.package-control .package-option{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.package-item .package-name{
  padding: 10px;
  margin: 0;
  text-align: center;
  position: relative;
  color: var(--white-cl);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--primary-cl);
}

.package-item .package-name .seller{
  position: absolute;
  top: -22px;
  right: -16px;
}

.package-item .package-control{
  height: 315px;
  padding: 24px 14px;
}

.package-control .package-price{
  width: 100%;
  height: 135px;
  padding: 16px 0;
  margin-bottom: 24px;
}

.package-item:last-child .package-price .info{
  align-items: flex-end;
  flex-direction: row;
  column-gap: 4px;
}

.package-price .amount{
  font-size: 30px;
  color: var(--gray-cl-7);
  line-height: 42px;
  margin: 0;
}

.package-price .user-type,
.package-price .unit,
.package-price .note{
  font-size: 15px;
  line-height: 25px;
}

.package-price .user-type,
.package-price .unit{
  color: var(--gray-cl-5);
}

.package-price .note{
  text-align: center;
  color: var(--gray-cl-7);
}

.package-option,
.package-option .form-select{
  width: 100%;
}

.package-option .select2-container--default{
  margin-bottom: 16px;
}

.package-option .select2-container--default .select2-selection--single{
  color: var(--gray-cl-7);
  border-radius: 4px;
  border: 1px solid var(--gray-cl-3);
  background-color: var(--gray-cl-1);
}

.package-option .btn{
  font-size: 24px;
  line-height: 36px;
  border-radius: 8px;
  color: var(--primary-cl);
}

.package-option .btn.btn-buy{
  width: 100%;
  background-color: var(--second-cl);
}

/* .package-option .form-select:disabled{
  cursor: no-drop;
  color: var(--gray-cl-4);
  border: 1px solid var(--gray-cl-4);
  background-color: transparent;
} */

.package-service{
  height: 350px;
}

.package-policy{
  height: 180px;
}

.package-title{
  font-family: hm;
  color: var(--gray-cl-8);
  padding: 8px 24px;
  background-color: var(--gray-cl-1);
}

.package-info{
  list-style: disc;
  padding: 24px 16px 24px 46px;
}

.package-info li{
  color: var(--gray-cl-7);
}

.package-support .package-info li,
.package-security .package-info li{
  color: var(--gray-cl-6);
}

@media (max-width: 575.98px){
  .package-list{
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .package-item{
    width: 100%;
  }

  .package-item:first-child{
    margin-bottom: 0;
    padding: 10px;
  }

  .package-item:first-child .package-image{
    display: none;
  }

  .package-item:first-child .package-content p:first-child{
    font-size: 58px;
    line-height: 68px;
  }

  .package-item div{
    height: auto;
  }
}

/* Mua dich vu */

.btn-pay,
.btn-home{
  margin-top: 16px;
  margin-left: auto;
  margin-right: 32px;
}

.btn-home{
  width: 123px;
  height: 36px;
}

.contract-detail .box-form .form-group:first-child .form-text{
  color: var(--gray-cl-6);
}

.contract-add .service-info__table,
.contract-detail .service-info__table{
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--gray-cl-1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.contract-add .service-info__list,
.contract-detail .service-info__list{
  display: none;
}

.contract-add .service-info__table table,
.contract-detail .service-info__table table{
  margin-bottom: 0;
}

.contract-add .service-info__table th,
.contract-add .service-info__table td,
.contract-detail .service-info__table th,
.contract-detail .service-info__table td{
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid var(--gray-cl-3);
}

.contract-add .service-info__table th,
.contract-add .service-info__table tfoot td,
.contract-detail .service-info__table th,
.contract-detail .service-info__table tfoot td{
  font-size: 18px;
}

.contract-add .service-info__table th:first-child,
.contract-add .service-info__table td:first-child,
.contract-detail .service-info__table th:first-child,
.contract-detail .service-info__table td:first-child{
  text-align: left;
}

.contract-add .service-info__table tfoot td,
.contract-detail .service-info__table tfoot td{
  padding-top: 36px;
  border-bottom: 0;
}

.contract-add .service-info__table tfoot td:first-child,
.contract-detail .service-info__table tfoot td:first-child{
  text-align: right;
}

@media (max-width: 575.98px){
  .btn-pay, 
  .btn-home{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .contract-add .service-info__table,
  .contract-detail .service-info__table{
    display: none;
  }

  .contract-add .service-info__list,
  .contract-detail .service-info__list{
    display: block;
  }

  .contract-add .service-info__list .form-group,
  .contract-detail .service-info__list .form-group{
    --w-label: 35%;
    justify-content: space-between;
  }

  .service-info__list .box-form:first-child label{
    color: var(--gray-cl-6);
  }

  .service-info__list .form-group:first-child label{
    font-family: hb;
    color: var(--gray-cl-7);
  }

  .contract-add .service-info__list .line,
  .contract-detail .service-info__list .line{
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: var(--gray-cl-3);
  }
}

/* Payment option */

.payment-option .payment-option__item{
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-cl-3);
  background-color: var(--white-cl);
}

.payment-option__item .payment-option__header{
  display: flex;
  align-items: center;
  padding: 16px;
  column-gap: 16px;
}

.payment-option__item .payment-option__header .form-group{
  margin-bottom: 0;
}

.payment-option__header .form-check-input{
  display: none;
}

.payment-option__header .form-check-label{
  width: 16px;
  height: 16px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}

.payment-option__header .form-check-label::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  background-color: var(--primary-cl);
  transition: all 0.25s linear;
}

.payment-option__header .form-check-input:checked + .form-check-label::before{
  opacity: 1;
}

.payment-option__header .text{
  font-family: hm;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-cl-7);
  margin-bottom: 0;
}

.payment-option__item:first-child .payment-option__body p{
  display: flex;
}

.payment-option__body .content{
  padding: 0 48px 16px;
}

.payment-option__body .paragraph,
.payment-option__body p:not(.title-big){
  margin-bottom: 8px;
}

.payment-option__body .paragraph:last-child,
.payment-option__body p:not(.title-big):last-child{
  margin-bottom: 0;
}

.payment-option__body .title-big{
  font-size: 20px;
  font-family: hb;
  color: var(--gray-cl-7);
  margin-bottom: 8px;
}

.payment-option__body ul li,
.payment-option__body p{
  font-size: 18px;
  color: var(--gray-cl-7);
}

.card-type .card-type__item{
  width: 100%;
  margin-bottom: 16px;
}

.card-type .card-type__item:last-child{
  margin-bottom: 0;
}

.card-type__item .card-type__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background-color: var(--gray-cl-2);
}

.card-type__item .card-type__header p{
  font-family: hb;
  color: var(--gray-cl-7);
  margin: 0;
}

.card-type__body .card-form,
.card-type__body .bank-list{
  margin: 16px auto 0;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.card-type__body .card-form{
  width: 480px;
}

.card-type__body .card-form > p,
.card-form .title p{
  font-size: 18px;
  color: var(--gray-cl-7);
}

.card-type__body .card-form > p{
  font-family: hb;
}

.card-type__body .card-form .title,
.card-type__body .bank-list .title{
  width: 100%;
}

.card-type__body .card-form .title p{
  font-family: hr;
}

.card-form__detail .title,
.card-form__detail .title .icon{
  display: flex;
  align-items: center;
}

.card-form__detail .title{
  justify-content: space-between;
}

.card-type__body .card-form .card-form__detail,
.card-type__body .card-form .card-form__address{
  margin-bottom: 16px;
}

.card-type__body .card-form .form-row{
  display: flex;
  column-gap: 16px;
}

.card-type__body .card-form .form-row .form-group{
  width: calc(50% - 8px);
}

.card-type__body .card-form .form-group{
  margin-bottom: 8px;
}

.card-type__body .card-form .form-group:last-child{
  margin-bottom: 0;
}

.card-type__body .card-form .form-control{
  font-size: 16px;
  border: 1px solid var(--gray-cl-3);
  background-color: var(--gray-cl-1);
}

.card-type__body .card-form .form-control::placeholder{
  color: var(--gray-cl-5);
}

.card-type__body .card-form .btn-submit{
  margin: 0 auto;
}

.card-type__body .bank-list{
  width: 100%;
}

.payment-option__body .bank-list .content{
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
}

.payment-option__body .bank-list .bank-item{
  width: 94px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid var(--gray-cl-3);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.payment-option__body .bank-list .bank-logo{
  width: 56px;
}

.bank-item .form-group{
  line-height: 0;
}

.bank-item .form-check-input{
  display: none;
}

.bank-item .form-check-label {
  width: 10px;
  height: 10px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}

.bank-item .form-check-label::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  background-color: var(--primary-cl);
  transition: all 0.25s linear;
}

.bank-item .form-check-input:checked + .form-check-label::before {
  opacity: 1;
}

.contract-result p:last-child{
  color: var(--gray-cl-6);
}

@media (max-width: 575.98px){
  .listContractQueue .table-wrap .table-content{
    width: calc(100% - 236px); 
    margin-left: 236px;
    margin-right: 0;
  }

  .listContractQueue .table-wrap{
    --w-fixed-col: 165px;
  }

  .listContractQueue .table-wrap table th.fixed{
    height: 40px;
  }

  .listContractQueue .table-wrap table td{
    height: 324px;
  }

  .listContractQueue .table-wrap table td:not(.fixed){
    background-color: var(--gray-cl-3);
  }

  .listContractQueue .table-wrap table .fixed:first-child{
    width: 32px;
  }

  .listContractQueue .table-wrap table .fixed:nth-child(2){
    width: 39px;
  }

  .listContractQueue .table-wrap table .fixed-2 {
    left: 32px; 
  }

  .listContractQueue .table-wrap table .fixed-3 {
    left: 71px; 
  }
}