.customer-info{
  margin-bottom: 32px;
}

.customer-info .box-form{
  --w-box-form: 100%;
}

.customer-edit .box:nth-child(2).in{
  display: flex;
  justify-content: space-between;
}

.customer-edit .box:nth-child(2) .box-item:first-child{
  width: calc(72% - 64px);
}

.form-row .form-group:nth-child(2) label{
  --w-label: 80px;
}

.form-row .form-group:nth-child(2) .select2-container{
  width: 198px !important;
}

.customer-edit .box:nth-child(2) .box-item:last-child{
  width: 28%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.customer-avatar{
  width: 215px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 32px;
}

.customer-avatar img{
  width: 100%;
  height: 100%;
}

.customer-edit .change-pass{
  width: 160px;
  display: inline-block;
  flex-shrink: 0;
}

.customer-edit .btn-update{
  margin-left: 260px;
  margin-bottom: 48px;
}

@media (max-width: 991.98px){
  .customer-edit .box:nth-child(2){
    flex-wrap: wrap;
  }

  .customer-edit .box.box-primary:nth-child(2) .box-item{
    width: 100%;
  }

  .customer-info .form-row .form-group{
    width: 50%;
  }

  .form-row .form-group:nth-child(2) .select2-container{
    width: 100% !important;
  }

  .customer-edit .btn-update{
    width: 100%;
    margin-left: 0;
  }
}

/* Them tien ich */

.extension-add .page-selected{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  font-family: hm;
  color: var(--gray-cl-8);
}

.extension-add .page-selected .selected-count{
  font-family: hb;
  font-size: 18px;
  margin: 0 5px;
  display: inline-block;
}

.extension-add .extension-group{
  margin-bottom: 16px;
}

.extension-add .extension-group:last-child{
  margin-bottom: 0;
}

.extension-add .extension-title{
  font-size: 20px;
  font-family: hm;
}

.extension-add .extension-list{
  --gap-col: 16px;
  --gap-row: 40px;
  width: calc(1000px + var(--gap-col));
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 16px 40px; */
  margin: calc(-1 * var(--gap-row)) 0 0 calc(-1 * var(--gap-col));
}

.extension-add .extension-list .item{
  --w-item: 220px;
  width: var(--w-item);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position: relative;
  padding: 16px 0;
  border-radius: 8px;
  border: 1px solid var(--gray-cl-3);
  margin: var(--gap-row) 0 0 var(--gap-col);
}

.extension-add .checkbox-group{
  position: absolute;
  top: 12px;
  right: 12px;
}

.extension-add .checkbox-group .select-item{
  display: none;
}

.extension-add .checkbox-group label{
  --w-label: 32px;
  position: relative;
  width: var(--w-label);
  height: var(--w-label);
  border-radius: 4px;
  margin-bottom: 0;
  border: 1px solid var(--gray-cl-6);
}

.extension-add .checkbox-group .select-item:checked ~ label{
  background-color: var(--gray-cl-6);
}

.extension-add .checkbox-group .select-item:checked ~ label::after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 14px;
  border: 1px solid var(--white-cl);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.extension-add .extension-list .icon{
  --w-icon: 80px;
  width: var(--w-icon);
  height: var(--w-icon);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(151.68deg, #3563AC 6.57%, #73B0DD 112.14%);
}

.extension-add .extension-list .text{
  font-family: hm;
  text-align: center;
  margin-top: 16px;
  display: inline-block;
  text-transform: capitalize;
}

.extension-add .box-search{
  justify-content: center;
  margin: 24px 0 0;
}

.extension-add .box-search .btn{
  width: auto;
}

.extension-add .box-search .btn-cancel{
  color: #1890FF;
  background-color: transparent;
}

@media (max-width: 991.98px){
  .extension-add .extension-list{
    --gap-col: 8px;
    --gap-row: 8px;
    width: 92%;
    /* gap: 8px; */
  }

  .extension-add .extension-list .item{
    --w-item: 100px;
    padding: 8px 0;
    justify-content: flex-start;
  }

  .extension-add .checkbox-group{
    top: 6px;
    right: 6px;
  }

  .extension-add .checkbox-group label{
    --w-label: 20px;
  }

  .extension-add .checkbox-group .select-item:checked ~ label::after{
    width: 5px;
    height: 10px;
  }

  .extension-add .extension-list .icon{
    --w-icon: 36px;
    padding: 8px;
    border-radius: 8px;
  }

  .extension-add .extension-list .text{
    font-size: 12px;
    margin-top: 8px;
  }

  .box-search .control{
    justify-content: center;
  }
}