.dashboard-index .box.box-primary:nth-child(2),
.dashboard-index .box.box-primary:last-child{
  padding-top: 0;
  padding-bottom: 0;
}

.spending-history{
  display: flex;
  justify-content: space-between;
}

.spending-history__list,
.spending-history__sort{
  padding: 24px;
  border-radius: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.spending-history__list{
  width: calc(70% - 8px);
}

.chart-list{
  --chart-count: 3;
}

.chart-list .chart-item{
  padding: 0;
}

.chart-list .chart-item #rptasset1 .c3-chart-arcs-title .second-title,
.chart-list .chart-item #rptasset2 .c3-chart-arcs-title .second-title,
.chart-list .chart-item #rptasset3 .c3-chart-arcs-title .second-title{
  font-family: hm;
  font-size: 14px;
}

.chart-list .chart-item #rptasset1 .c3-chart-arcs-title .second-title{
  fill: #BC2C22;
}

.chart-list .chart-item #rptasset2 .c3-chart-arcs-title .second-title,
.chart-list .chart-item #rptasset3 .c3-chart-arcs-title .second-title{
  fill: #0A9A4A;
}

.chart-tab{
  display: none;
}

.spending-history__sort{
  width: calc(30% - 8px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.spending-history__sort .table-list tbody tr td{
  border: 0 !important;
}

.spending-history__sort p{
  font-size: 20px;
  font-family: hm;
  color: var(--gray-cl-8);
}

.spending-history__sort .line{
  width: 100%;
  height: 1px;
  background-color: var(--gray-cl-6);
}

.spending-history__sort .table-list{
  border: 0;
  min-height: 80px;
}

.spending-history__sort .table-list td:first-child{
  color: var(--gray-cl-7);
}

.box:last-child .wrap{
  padding: 24px 32px;
  border-radius: 16px;
  background-color: var(--white-cl);
}

.box-search{
  justify-content: flex-end;
}

.dashboard-index .filter-timeline {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
}

.dashboard-index .form-group{
  --w-label: 35px;
  margin-bottom: 0;
}

.my-cash{
  padding: 16px;
  border-radius: 16px;
  background-color: var(--gray-cl-1);
}

.my-cash #chart5 .c3-axis-y-label,
.my-cash #chart5 .c3-axis-x-label{
  font-family: hm;
  font-size: 16px;
}

.my-cash #chart5 .c3-axis-x-label{
  transform: translate(18px, 10px);
}

.my-cash #chart5 .c3-axis-y-label{
  transform: translate(0, -40px);
}

.my-cash #chart5 .tick{
  font-family: hr;
  font-size: 14px;
  color: var(--gray-cl-6);
}

@media (max-width: 1199.98px){
  .spending-history__list{
    width: calc(60% - 8px);
  }

  .spending-history__sort{
    width: calc(40% - 8px);
  }

  .chart-list{
    display: none;
  }

  .chart-tab{
    display: block;
  }

  .chart-tab .nav-tabs__mobile{
    margin-bottom: 40px;
  }

  .dashboard-index .filter-timeline{
    width: 20%;
  }
}

@media (max-width: 991.98px){
  .box.box-primary{
    padding: 16px 0;
  }

  .spending-history{
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .spending-history__list,
  .spending-history__sort{
    width: 100%;
  }

  .spending-history__sort .line{
    margin: 16px 0;
  }

  .dashboard-index .filter-timeline{
    width: 100%;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .dashboard-index .form-group{
    width: calc(30% - 8px);
  }

  .dashboard-index .filter-timeline .btn.btn-primary{
    width: 100%;
  }

  .my-cash #chart5 .c3-axis-y-label{
    transform: translate(0, -40px);
  }
}

@media (max-width: 767.98px){
  .dashboard-index .form-group{
    /* --w-label: 100%; */
    width: calc(50% - 8px);
    /* flex-wrap: wrap; */
  }
}