/* User Customer List */
.user-customer.no-bg .breadcrumb,
.user-customer.no-bg .title-page{
  background-color: var(--white-cl);
}

.user-customer .box-primary{
  margin-bottom: 0;
}

.user-customer .box-primary .wrap {
  border-radius: 16px;
  padding: 24px;
  background-color: var(--white-cl);
}

.user-customer .box-primary:first-child .wrap{
  display: flex;
  column-gap: 158px;
}

.user-customer .box-primary:first-child .box-title{
  white-space: nowrap;
  margin-bottom: 0;
}

.user-customer .box-primary:first-child .box-search,
.user-customer .box-primary .box-search form{
  width: 100%;
}

.user-customer .box-primary .box-search{
  margin-bottom: 0;
}

.user-customer .box-primary .box-search form{
  display: flex;
  column-gap: 24px;
}

.user-customer .box-primary .filter-timeline{
  flex-grow: 1;
}

.user-customer .box-primary .filter-timeline .form-group{
  --w-label: 102px;
  margin-bottom: 0;
}

.user-customer .box-primary:first-child .filter-timeline .form-group{
  width: calc(50% - 8px);
}

.user-customer .box-primary:last-child .box-search{
  width: 430px;
}

.user-customer .box-primary:last-child .filter-timeline .form-group label{
  font-size: 16px;
}

.user-customer__add .box-form .form-row .form-group:last-child{
  --w-label: 85px;
}

.user-customer__add .box-search .btn{
  width: auto;
}

.user-customer__add .box-search{
  margin-top: 24px;
  margin-left: 143px;
}

.user-customer__add .box-search .btn-cancel{
  color: #1890FF;
  background-color: transparent;
}