.news{
  --item-count: 3;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.news-item{
  --item-size: calc(100% / var(--item-count));
  width: calc(var(--item-size) - 22px);
  border-radius: 16px;
  overflow: hidden;
  transition: all .5s ease 0s;
  border: .25px solid var(--gray-cl-4);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.news-item:hover{
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.news-item a{
  color: var(--gray-cl-7);
  display: inline-block;
}

.news-item a:hover{
  color: var(--gray-cl-7);
}

.news-item .news-image{
  width: 100%;
  height: 202px;
}

.news-item .news-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item .news-content{
  padding: 16px;
}

.news-content .news-title{
  font-family: hm;
  margin-bottom: 4px;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.news-content .news-des{
  color: var(--gray-cl-6);
  margin-bottom: 24px;
}

.news-content .news-info span{
  font-size: 14px;
  color: var(--gray-cl-4);
  padding: 0 8px;
}

.news-content .news-info .news-author{
  padding-left: 0;
  border-right: 1px solid var(--gray-cl-4);
}

.news-content .news-info .news-date{
  padding-right: 0;
}

.single-post{
  padding: 0 76px;
  margin-bottom: 32px;
}

.single-post__title,
.single-post__info{
  text-align: center;
}

.single-post__title{
  margin-top: 0;
  margin-bottom: 8px;
}

.single-post__info,
.single-post__image{
  margin-bottom: 16px;
}

.single-post__info .single-post__date{
  color: var(--gray-cl-4);
}

.single-post__image,
.single-post__image img{
  width: 100%;
}

.single-post__image img{
  object-fit: cover;
}

.single-post__content,
.single-post__slogan{
  width: 799px;
  margin: 0 auto 16px;
}

.single-post__slogan{
  font-size: 20px;
  padding: 32px 24px;
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.single-post__tag{
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding: 16px 0;
  border-top: 1px solid var(--gray-cl-4);
  border-bottom: 1px solid var(--gray-cl-4);
}

.single-post__tag .item{
  padding: 6px 16px;
  background-color: var(--gray-cl-2);
}

.news-related__title{
  width: 970px;
  font-size: 20px;
  font-family: hm;
  margin: 0 auto 16px;
}

@media (max-width: 991.98px){
  .news-item,
  .single-post__content, 
  .single-post__slogan{
    width: 100%;
  }

  .single-post{
    padding: 0;
  }

  .single-post__tag{
    flex-wrap: wrap;
    gap: 8px;
  }
}


/* BLOG ADMIN */

.invest-manage.no-bg .breadcrumb,
.invest-manage.no-bg .title-page{
  background-color: var(--white-cl);
}

.invest-manage .box-primary .wrap{
  border-radius: 16px;
  padding: 24px;
  background-color: var(--white-cl);
}

.invest-manage .box-search{
  flex-wrap: wrap;
}

.invest-manage .box-search form,
.invest-manage .box-search .filter-timeline,
.invest-manage .box-search .control{
  width: 100%;
}

.invest-manage .filter-timeline .form-group{
  --w-label: 135px;
  width: calc(50% - 8px);
}

.invest-manage .control .btn-refresh{
  background-color: var(--gray-cl-2);
}

.invest-manage .box:last-child .box-title.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invest-manage .display-status{
  --w-element: 24px;
  width: var(--w-element);
  height: var(--w-element);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: var(--gray-cl-2);
}

.invest-manage .display-status.active{
  background-color: #0A9A4A;
}

.invest-manage .display-status::before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: 1px solid var(--gray-cl-6);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.invest-manage .display-status.active::before{
  border-color: var(--white-cl);
}

.invest-add .box-form,
.invest-edit .box-form{
  --w-box-form: 869px;
}

.invest-add .btn-add,
.invest-edit .btn-save{
  margin-top: 22px;
  margin-left: calc(221px + 16px);
}

.invest-edit .list-file{
  padding-left: 16px !important;
}

.invest-edit .btn-save{
  width: auto;
}