.profit-index .btn-analysis,
.profit-add .btn-analysis{
  width: 100px;
  margin-top: 24px;
  margin-left: 237px;
}

.profit-add .box-search{
  width: 733px;
  justify-content: flex-end;
}

.profit-add .box-search .btn-edit,
.profit-result .box-search .btn-edit{
  color: #1890FF;
  background-color: transparent;
}

.profit-add .box:first-child .box-form{
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--gray-cl-1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.profit-add .box:first-child .box-form .form-group:last-child{
  margin-bottom: 0;
}

.profit-add .box:first-child .box-form .form-control{
  font-family: hm;
  text-align: right;
}

.profit-add .box:first-child .box-form .form-control:read-only{
  background-color: var(--gray-cl-2);
}

.profit-result table{
  max-width: 754px;
}

.profit-result table tbody th,
.profit-result table tbody td{
  padding: 12px 24px;
  vertical-align: middle;
  border: 1px solid var(--gray-cl-4) !important;
}

.profit-result table tbody th{
  font-family: hm;
}

.profit-result table tbody th.light{
  font-family: hl;
}

.profit-result table tbody th .text-small{
  font-size: 13px;
  color: var(--gray-cl-6);
}

.profit-result table tbody td{
  width: 328px;
  text-align: right;
}

.profit-result table tbody td span{
  color: var(--gray-cl-6);
}

.profit-result .box-search{
  max-width: 754px;
  justify-content: center;
  margin-bottom: 0;
}

.profit-result .box-search .btn{
  width: auto;
}

.profit-history table tbody td{
  text-align: center;
}

@media (max-width: 575.98px){
  .profit-index .btn-next, 
  .profit-add .btn-analysis{
    width: 100%;
    margin-left: 0;
  }

  .profit-add .box-search{
    width: 100%;
  }

  .profit-add .box-search .control{
    justify-content: flex-end;
  }

  .profit-result table tbody td{
    width: 50%;
  }

  .profit-result .box-search .control{
    justify-content: center;
  }

  .profit-history .box.box-primary{
    border: 0;
    padding: 16px 0;
    box-shadow: none;
    background-color: transparent;
  }

  .profit-history table{
    display: none;
  }
}