.retireplans .box-form{
  --w-box-form: 706px;
}

.retireplans .form-group label{
  --w-label: 324px;
}

.retireplans .btn-analysis{
  margin-top: 24px;
  margin-left: 340px;
}

.retireplans .box:last-child .form-group label{
  --w-label: 530px;
}
