/* Benefits Section */

.benefits-product__item{
  --w-item: calc(50% - 20px);
  --h-item: 380px;
}

.benefits-product__content{
  --pd-item: 40px;
}

@media (max-width: 767.98px){
  .benefits-product__item{
    --w-item: 100%;
  }

  .benefits-product__item.no-bg .benefits-product__content{
    --pd-item: 0;
  }
}

/* Help Product Section */

.help-product{
  --bg-help-section: url('../../../img/web/help-bg.jpg') center bottom/cover no-repeat;
}

.help-product .wrap{
  --mr-bt: -270px;
}

.help-product__process{
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background-color: #3563AC;
}

.help-product__process::before,
.help-product__process::after{
  content: '';
  width: 350px;
  height: 2px;
  position: absolute;
  top: 82px;
  border-radius: 2px;
  background-color: var(--white-cl);
  display: inline-block;
}

.help-product__process::before{
  left: 237px;
}

.help-product__process::after{
  right: 237px;
}

.help-product__list{
  --align-items: flex-start;
}

.help-product__item{
  --w-item: 360px;
  --pd-item: 40px;
}

.help-product__item .icon{
  --size-icon: 85px;
  --border-radius-icon: 20px;
  --transform-rotate: rotate(45deg);
  background-color: var(--bg-yellow-cl);
}

.help-product__item .icon img{
  --transform-rotate: rotate(-45deg);
}

.help-product__item p{
  color: var(--white-cl);
}

@media (max-width: 1399.98px){
  .help-product__process::before, 
  .help-product__process::after{
    width: 260px;
  }
}

@media (max-width: 1199.98px){
  .help-product__process::before, 
  .help-product__process::after{
    width: 150px;
  }
}

@media (max-width: 991.98px){
  .help-product__process::before, 
  .help-product__process::after{
    width: 75px;
  }

  .help-product__process::before{
    left: 190px;
  }

  .help-product__process::after{
    right: 190px;
  }
}

@media (max-width: 767.98px){
  .help-product__process::before, 
  .help-product__process::after{
    display: none;
  }

  .help-product__item{
    --w-item: 100%
  }
}

@media (max-width: 575.98px){

}

/* Register Advice Style */

.advice{
  padding-top: 225px;
}