/* Benefits Section */

.benefits-product__item{
  --w-item: calc((100% / 3) - 27px);
  --h-item: 480px;
}

.benefits-product__item:nth-child(3){
  margin-top: 60px;
}

.benefits-product__item.no-bg{
  width: 100%;
  height: auto;
}

.benefits-product__content{
  --pd-item: 32px;
}

.benefits-product__item.no-bg .benefits-product__content{
  --pd-item: 0;
  position: static;
}

.benefits-product__item h4{
  --text-align: center;
}

@media (max-width: 767.98px){
  .benefits-product__item{
    --w-item: 100%;
  }

  .benefits-product__item:nth-child(3){
    margin-top: 0;
  }
}

/* Why Product Section */

.why-product .wrap{
  align-items: center;
}

/* Help Product Section */

.help-product{
  --bg-help-section: url('../../../img/web/help-bg.jpg') center bottom/cover no-repeat;
}

.help-product .wrap{
  --mr-bt: -270px;
}

.help-product__list{
  --align-items: stretch;
}

.help-product__item{
  --w-item: calc(25% - 8px);
  --pd-item: 40px;
  border-radius: 16px;
  background-color: #F9F9F9;
}

.help-product__item .icon{
  --size-icon: 96px;
  --border-radius-icon: 0;
  --transform-rotate: none;
}

.help-product__item .icon img{
  --transform-rotate: none;
}

.help-product__item p{
  color: #2D2D2D;
}

@media (max-width: 1399.98px){

}

@media (max-width: 1199.98px){
  .help-product__list{
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .help-product__item{
    --w-item: calc(50% - 8px);
  }
}

@media (max-width: 991.98px){

}

@media (max-width: 767.98px){
  .help-product__item{
    --w-item: 100%;
  }
}

@media (max-width: 575.98px){

}

/* Register Advice Style */

.advice{
  padding-top: 225px;
}