/* Why Product Section */

.why-product{
  background-color: var(--bg-cyan-cl);
}

.why-product .wrap{
  --w-why-content: 732px;
  display: flex;
  align-items: flex-start;
}

.why-product__content{
  width: var(--w-why-content);
}

.why-product__content h4{
  text-align: left;
  margin-bottom: 60px;
}

.why-product__list{
  width: 600px;
}

.why-product__item{
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  background-color: var(--white-cl);
}

.why-product__item:last-child{
  margin-bottom: 0;
}

.why-product__item .text{
  color: var(--gray-cl-8);
}

.why-product__img{
  width: calc(100% - var(--w-why-content));
}

@media (max-width: 1399.98px){
  .why-product .wrap{
    --w-why-content: 50%;
    align-items: center;
    column-gap: 30px;
  }

  .why-product__list{
    width: 100%;
  }
}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){
  .why-product .wrap{
    --w-why-content: 100%;
    flex-direction: column;
    row-gap: 30px;
  }

  .why-product__img{
    width: 100%;
  }
}

@media (max-width: 767.98px){
  
}

@media (max-width: 575.98px){

}