/* Banner */

.banner{
  background: url('../../img/landing-page/banner-bg-1.jpg') center bottom/cover no-repeat;
}

.banner .wrap{
  padding: 6rem 0;
}

.banner .banner-content{
  max-width: 72rem;
}

.banner-content h1{
  font-family: mr;
  font-size: 5.2rem;
  line-height: 8.6rem;
  color: var(--primary-cl);
}

.banner-content h1 span{
  font-family: mb;
  font-size: 6rem;
  display: block;
}

.banner-content h1 span:last-child{
  color: var(--second-cl);
}

.banner-content p{
  color: var(--primary-cl);
}

.banner .banner-img {
  max-width: 55rem;
}

@media (max-width: 767.98px){
  .banner .wrap{
    padding: 7rem 0;
  }

  .banner .banner-content{
    max-width: 100%;
  }

  .banner-content h1{
    font-size: 4rem;
    line-height: 1.5;
  }

  .banner-content h1 span{
    display: block;
    font-size: 5rem;
  }

  .banner .banner-img{
    max-width: 80%;
  }
}

/* End Banner */

/* Section Who */

.who-list .card:first-child{
  background: linear-gradient(180deg, #DBF6FF 0%, rgba(219, 246, 255, 0) 100%);
}

.who-list .card:nth-child(2){
  background: linear-gradient(180deg, #FFF8E8 0%, rgba(255, 248, 232, 0) 100%);
}

.who-list .card:nth-child(3){
  background: linear-gradient(180deg, #D7E8FF 0%, rgba(215, 232, 255, 0) 100%);
}

.who-list .card:last-child{
  background: linear-gradient(180deg, #E7ECEE 0%, #FEFEFE 100%);
}

/* End Section Who */

/* Section Difficult */

.section-difficult .wrap{
  --h-difficult-wrap: 50rem;
  height: var(--h-difficult-wrap);
}

.difficult-item{
  --h-difficult-item: 11.3rem;
  width: 42.3rem;
  height: var(--h-difficult-item);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  background-color: var(--white-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.difficult-item:nth-child(1),
.difficult-item:nth-child(4){
  top: 0;
}

.difficult-item:nth-child(2),
.difficult-item:nth-child(5){
  top: calc((var(--h-difficult-wrap) / 2) - (var(--h-difficult-item) / 2));
}

.difficult-item:nth-child(3),
.difficult-item:nth-child(6){
  bottom: 0;
}

.difficult-item:nth-child(1){
  left: 2rem;
}

.difficult-item:nth-child(2){
  left: 0;
}

.difficult-item:nth-child(5){
  right: 0;
}

.difficult-item:nth-child(4){
  right: 2rem;
}

.difficult-item:nth-child(3){
  left: 2rem;
}

.difficult-item:nth-child(6){
  right: 2rem;
}

.difficult-item__right{
  max-width: 9.4rem;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #326EBD;
  clip-path: circle(90% at 100% 50%);
}

.difficult-item__right .number{
  position: absolute;
  left: 5.6rem;
  top: 2px;
  font-family: hb;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--primary-cl);
}

.difficult-item__right .icon{
  position: absolute;
  left: .5rem;
  top: 2.4rem;
}

.difficult-item__text{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  font-family: hm;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--primary-cl);
}

.difficult-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-difficult .circle-line-img{
  width: 65rem;
}

.section-difficult .circle-line-img-1{
  top: 50%;
  left: -40rem;
  transform: translateY(-50%);
}

.section-difficult .circle-line-img-2{
  bottom: -34rem;
  right: -50rem;
}

@media (max-width: 767.98px){
  .section-difficult .wrap{
    --h-difficult-wrap: auto;
  }

  .difficult-item{
    width: 100%;
    position: initial;
    margin-bottom: 2rem;
  }

  .difficult-item:last-child{
    margin-bottom: 0;
  }

  .difficult-img{
    display: none;
  }
}

/* End Section Difficult */

/* Section Advantages */

.section-advantages{
  padding-top: 0;
}

.advantages-header{
  position: relative;
  width: 117.7rem;
  margin-left: auto;
}

.advantages-header .advantages-header__line{
  width: 98.6rem;
  height: 1rem;
  margin-left: auto;
  margin-bottom: 5px;
  background-color: var(--primary-cl);
  clip-path: polygon(1% 0, 100% 0, 100% 100%, 0% 100%);
}

.advantages-title{
  position: relative;
  color: var(--primary-cl);
  background-color: #C6E8F3;
  padding: 6.5rem 11.4rem;
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
}

.advantages-title .dots-circle-img{
  max-width: 10.6rem;
  left: 6.2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.advantages-content__left{
  width: 73rem;
}

.advantages-content__item{
  max-width: 62.4rem;
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.advantages-content__item .text,
.advantages-content__item .index{
  display: flex;
  align-items: flex-end;
}

.advantages-content__item .text{
  column-gap: 8px;
}

.advantages-content__item:last-child .text{
  display: block;
}

.advantages-content__item .index{
  font-size: 3.5rem;
}

.advantages-content__item .number{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-content__item .number span:first-child{
  font-size: 2rem;
  color: #FDB913;
}

.advantages-content__item .number span:last-child{
  font-size: 6rem;
  line-height: 1;
  font-family: hb;
}

.advantages-content__item:last-child .text span{
  font-size: 2.4rem;
  color: #FDB913;
}

@media (max-width: 767.98px){
  .advantages-header{
    width: 100%;
  }

  .advantages-title{
    padding: 3rem 7rem;
  }

  .advantages-title .dots-circle-img{
    left: 2rem;
  }

  .advantages-header .advantages-header__line{
    width: 30rem;
  }

  .advantages-content__left{
    width: 100%;
  }

  .advantages-content__item{
    max-width: 100%;
  }

  .advantages-content__item:nth-child(2),
  .advantages-content__item:last-child{
    margin-left: 0;
  }
}

/* End Section Advantages */

/* Section Solution */

.solution-register__voucher{
  padding: 2.4rem 1.7rem 0;
}

.solution-register__voucher h4{
  font-size: 4.2rem;
  line-height: 5.2rem;
}

@media (max-width: 767.98px){
  .solution-register__voucher h4{
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

/* End Section Solution */