.footer{
  padding: 4.8rem 0;
}

.footer.footer-bg-gray{
  background-color: #F4F5F7;
}

.footer.footer-bg-img{
  background: url('../../img/landing-page/footer-bg.jpg') center bottom/cover no-repeat;
}

.footer .logo{
  width: 21.5rem;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.footer.footer-bg-img .logo-img-cl{
  display: none;
}

.footer.footer-bg-gray .logo-img-white{
  display: none;
}

.footer-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-content__item{
  width: 31.2rem;
}

.footer-content__item:first-child{
  width: 64.8rem;
}

.footer-content__item:last-child{
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.footer-content__item p{
  font-size: 2rem;
  line-height: 3rem;
}

.footer.footer-bg-gray .footer-content__item p{
  color: var(--gray-cl);
}

.footer.footer-bg-img .footer-content__item p{
  color: var(--white-cl);
}

.footer-content__item p span{
  font-family: hb;
}

.footer.footer-bg-gray .footer-content__item p span{
  color: var(--gray-cl-7);
}

.footer.footer-bg-img .footer-content__item p span{
  color: var(--white-cl);
}

.footer-content__item:last-child a{
  display: inline-block;
}

@media (max-width: 1399.98px){
  .footer-content__item{
    width: 27rem;
  }

  .footer-content__item:first-child{
    width: 50rem;
  }
}

@media (max-width: 1199.98px){
  .footer-content__item{
    width: 24rem;
  }

  .footer-content__item:first-child{
    width: 39rem;
  }
}

@media (max-width: 991.98px){
  .footer-content{
    flex-direction: column;
    row-gap: 2rem;
  }

  .footer-content__item{
    width: 100% !important;
  }
}