/* Button Style */
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 4px;
  color: var(--white-cl);
}

.btn.btn-primary{
  border: 1px solid #1890FF;
  background-color: #1890FF;
}

.btn.btn-export{
  border: 1px solid #73C1E5;
  background-color: #73C1E5;
}

.btn.btn-delete{
  border: 1px solid #BC2C22;
  background-color: #BC2C22;
}

.box-search{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.box-search .control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}

.box-search .control .btn-transfer{
  border: 1px solid var(--bg-cyan-cl-6);
  background-color: var(--bg-cyan-cl-6);
}

.box-search .control .btn-income{
  border: 1px solid #0A9A4A;
  background-color: #0A9A4A;
}

.box-search .control .btn-cost{
  border: 1px solid #DE6573;
  background-color: #DE6573;
}

@media (max-width: 575.98px){
  .box-search{
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .box-search .control{
    width: 100%;
    justify-content: space-between;
  }
}

/* Default Style */
.breadcrumb,
.title-page{
  margin-bottom: 0;
  background-color: var(--white-cl);
}

.no-bg .breadcrumb,
.no-bg .title-page{
  background-color: transparent;
}

.breadcrumb{
  padding: 16px 24px 8px;
  border-bottom: 1px solid var(--gray-cl-2);
}

.breadcrumb .prev{
  color: var(--gray-cl-7);
}

.breadcrumb .prev:hover{
  color: #72afd2;
}

.breadcrumb .current{
  color: var(--primary-cl);
}

.title-page{
  position: relative;
  font-size: 20px;
  padding: 24px 31px 24px;
}

.title-page::before{
  content: '';
  width: 24px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--gray-cl-5);
}

.box.box-primary{
  padding: 16px 24px;
  border-top: 0;
  margin-bottom: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.no-bg .box.box-primary{
  box-shadow: none;
  background-color: transparent;
}

.box.box-primary:last-child{
  margin-bottom: 0;
}

.box-title{
  margin-top: 0;
  margin-bottom: 32px;
}

.box-des{
  margin-bottom: 24px;
  color: var(--gray-cl-6);
}

@media (max-width: 575.98px){
  .content-wrapper .title-page,
  .content-wrapper .breadcrumb{
    display: none;
  }

  .box.box-primary{
    padding: 16px 15px;
  }
}

/* Form Style */
.box-form{
  --w-box-form: 733px;
  width: var(--w-box-form)
}

.form-row{
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.form-group{
  --w-label: 221px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}

.form-group label{
  font-family: hl;
  width: var(--w-label);
  flex-shrink: 0;
  margin-bottom: 0;
}

.form-group label span{
  color: #BC2C22;
}

.form-group .form-div{
  width: 100%;
}

.form-group .form-control,
.form-group .select2-selection--single{
  height: auto;
  font-size: 16px;
  padding: 9px 12px !important;
  border-radius: 2px;
  background-color: var(--white-cl);
  border: 1px solid #D9D9D9;
}

.form-group .form-control{
  flex-grow: 1;
}

.form-group .select2-selection--single{
  height: 42px !important;
}

.form-group .select2-selection__arrow{
  height: 36px !important;
}

.form-group .form-control[type="file"]{
  height: auto;
  padding: 0;
  border: 0;
}

.form-group .form-control:focus{
  border: 1px solid var(--primary-cl);
}

.form-group .form-control::placeholder{
  font-size: 16px;
  color: var(--gray-cl-4);
}

.form-group .form-text{
  margin-bottom: 0;
}

.form-group small{
  font-family: hri;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-cl-5);
}

@media (max-width: 575.98px){
  .box-form{
    --w-box-form: 100%
  }

  .form-row{
    width: 100%;
  }

  .form-group{
    --w-label: 100%;
    flex-wrap: wrap;
  }

  .form-group .form-control,
  .form-group .select2-selection--single{
    border-radius: 8px !important;
  }
}

/* Status Notification Style */
.status{
  padding: 4px 10px;
  font-family: hm;
  font-size: 10px;
  border-radius: 8px;
  white-space: nowrap;
  display: inline-block;
  color: var(--white-cl);
}

.status.status-error{
  background-color: #BC2C22;
}

.status.status-warning{
  background-color: #FBC540;
}

.status.status-success{
  background-color: #0A9A4A;
}

/* Table Style */
.table-list{
  margin-bottom: 0;
}

.table-list thead tr th,
.table-list tbody tr td,
.table-list tfoot tr td{
  padding: 8px;
  vertical-align: middle;
  border: 1px solid var(--gray-cl-4) !important;
  border-top: 1px solid var(--gray-cl-4) !important;
  border-bottom: 1px solid var(--gray-cl-4) !important;
}

.table-list thead tr th{
  text-align: center;
}

.table-list tbody tr td,
.table-list tbody tr td a{
  color: var(--gray-cl-6);
  transition: all .5s ease 0s;
}

.table-list tbody tr:hover td{
  background-color: var(--bg-cyan-cl);
}

.table-list tbody tr:hover td a{
  color: var(--primary-cl);
  text-decoration: underline;
}

.table-list tfoot tr td{
  color: var(--gray-cl-7);
}

@media (max-width: 575.98px){
  .table-wrap{
    --w-fixed-col: 120px;
    position: relative;
    overflow: hidden;
  }

  .table-wrap .table-content{
    overflow-x: scroll;
    overflow-y: visible;
    width: calc(100% - 360px); 
    margin-left: calc(var(--w-fixed-col) * 3);
    margin-right: var(--w-fixed-col);
  }

  .table-wrap table{
    table-layout: fixed; 
    width: 100%;
  }

  .table-wrap table th,
  .table-wrap table td{
    width: 150px;
    padding: 10px;
    background-color: var(--white-cl);
  }
  
  .table-wrap table td{
    height: 76px;
  }

  .table-wrap table .fixed{
    width: var(--w-fixed-col);
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-wrap table th.fixed{
    height: 62px;
  }

  .table-wrap table .fixed-1 {
    left: 0; 
  }

  .table-wrap table .fixed-2 {
    left: calc(var(--w-fixed-col) * 1); 
  }

  .table-wrap table .fixed-3 {
    left: calc(var(--w-fixed-col) * 2); 
  }
}

/* Text Style */
.text-error,
.text-success{
  font-family: hm;
}

.text-error{
  color: #BC2C22 !important;
}

.text-success{
  color: #0A9A4A !important;
}

/* Box control style */
.box-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.box-control .control{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.box-control .count,
.box-control .text{
  white-space: nowrap;
  margin-bottom: 0;
  color: var(--gray-cl-5);
}

.box-control .count{
  font-family: hb;
}

@media (max-width: 575.98px){
  .box-control{
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
  }

  .box-control .control{
    align-self: flex-end;
  }

  .box-control .control .btn.btn-export{
    display: none;
  }
}

/* Paging Nav Style */
.paging .pagination{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.paging .pagination li{
  width: 24px;
  height: 24px;
  display: inline-block;
}

.paging .pagination li a,
.paging .pagination li span{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  font-size: 14px;
  color: var(--gray-cl-6);
  border-radius: 2px;
}

.paging .pagination li.active span{
  color: var(--white-cl);
  background-color: var(--gray-cl-6);
}

/* Note Footer Style */
.note-content{
  margin-top: 57px;
}

.note-content p{
  color: var(--gray-cl-4);
  margin-bottom: 0;
}

.note-content p:first-child{
  font-family: hm;
}

@media (max-width: 575.98px){
  .note-content{
    display: none;
  }
}

/* Notification Index Style */
.noti-index{
  display: flex;
  justify-content: center;
}

.noti-index__wrap{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--bg-cyan-cl);
}

.noti-index__item{
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0 10px;
  border-right: 1px solid var(--gray-cl-4);
}

.noti-index__item:first-child{
  padding-left: 0;
}

.noti-index__item:last-child{
  padding-right: 0;
  border-right: 0;
}

.noti-index__item p{
  margin-bottom: 0;
}

.noti-index__item .number{
  font-family: hb;
}

@media (max-width: 575.98px){
  .noti-index__wrap{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    background-color: transparent;
  }

  .noti-index__item{
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 8px;
    border-right: 0;
    background-color: #F1F8FB;
  }

  .noti-index__item:first-child{
    padding-left: 8px;
    background-color: var(--bg-cyan-cl);
  }

  .noti-index__item:last-child{
    padding: 8px;
  }

  .noti-index__item p{
    text-align: center;
    display: inline-block;
  }
}

/* Tab Style */
.nav-tabs{
  --tab-count: 3;
  border-bottom: 0;
}

.nav-tabs li{
  width: calc(100% / var(--tab-count));
  height: 48px;
  margin-bottom: 0;
}

.nav-tabs li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 0;
  border-radius: 0;
  color: var(--gray-cl-7);
  background-color: var(--gray-cl-1);
  border: 1px solid var(--gray-cl-3);
}

.nav-tabs li.active a{
  border: 0;
  font-family: hm;
  color: var(--gray-cl-8);
  background-color: var(--white-cl);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.tab-pane__body{
  padding: 24px 28.5px 45px;
}

@media (max-width: 575.98px){
  .nav-tabs__mobile{
    display: flex;
    padding: 2px;
    border-radius: 9px;
    background-color: var(--gray-cl-2);
  }

  .nav-tabs__mobile li{
    height: auto;
    width: 25%;
    padding: 0 8px;
    position: relative;
  }

  .nav-tabs__mobile li::after{
    content: '';
    width: 1px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--gray-cl-4);
    display: inline-block;
  }

  .nav-tabs__mobile li:first-child{
    padding-left: 0;
  }

  .nav-tabs__mobile li:last-child{
    padding-right: 0;
    flex-grow: 1;
  }

  .nav-tabs__mobile li:last-child::after{
    display: none;
  }

  .nav-tabs__mobile li a{
    font-size: 14px;
    font-family: hm;
    color: var(--gray-cl-8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border: 0;
    border-radius: 7px;
    background-color: transparent;
  }

  .nav-tabs__mobile li.active a{
    background-color: var(--white-cl);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  }
}

/* Chart list style */
.chart-list{
  --chart-count: 2;
  display: flex;
  justify-content: space-between;
}

.chart-list .chart-item{
  --chart-item-size: calc(100% / var(--chart-count));
  width: calc(var(--chart-item-size) - 12px);
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Shortcut page style  */
.overview-page{
  --count-item: 6;
  --w-item: calc(100% / var(--count-item));
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 16px;
}

.overview-page__item{
  width: calc(var(--w-item) - 8px);
}

.overview-page__item a{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
}

.overview-page__item .icon{
  width: 80px;
  height: 80px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(151.68deg, #3563AC 6.57%, #73B0DD 112.14%);;
}

.overview-page__item .text{
  text-align: center;
  color: var(--gray-cl-7);
  text-transform: capitalize;
}

@media (max-width: 575.98px){
  .overview-page{
    --w-item: 120px;
    padding: 0 15px;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .overview-page::-webkit-scrollbar {
    display: none;
  }

  .overview-page__item{
    flex-shrink: 0;
  }

  .overview-page__item .icon{
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
  }

  .overview-page__item .text{
    font-size: 12px;
    text-align: center;
  }
}

/* Danh sach thong tin */
.list-info{
  display: none;
}

@media (max-width: 575.98px){
  .list-info{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .list-info .item{
    padding: 16px;
    background-color: var(--white-cl);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  }

  .list-info .item .form-group{
    --w-label: auto;
    justify-content: space-between;
  }

  .list-info .form-group label,
  .list-info .form-group .form-text{
    font-size: 14px;
  }

  .list-info .form-group .title-primary,
  .list-info .form-group .text-primary{
    font-size: 16px;
    font-family: hb;
    color: var(--gray-cl-7);
  }

  .list-info .form-group label{
    color: var(--gray-cl-6);
  }

  .list-info .form-group .form-text{
    color: var(--gray-cl-7);
  }
}