/* Tinh so tien nghỉ hưu */

.retireplans .box-primary:first-child label{
  --w-label: 335px;
}

.retireplans .box-primary:first-child .form-control{
  --w-input: 463px;
}

.retireplans .btn-analysis{
  margin-top: 24px;
  margin-left: 351px;
}

.retireplans .box-primary:last-child label{
  --w-label: 530px;
}

.retireplans .box-primary:last-child .form-control{
  --w-input: 215px;
}

.retireplans .box-primary:last-child .box-form{
  margin-bottom: 20px;
}

/* Thiet lap vi tai chinh */

.cashplan .noti-index{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--bg-cyan-cl);
}

.cashplan .noti-index__item{
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0 10px;
  border-right: 1px solid var(--gray-cl-4);
}

.cashplan .noti-index__item:first-child{
  padding-left: 0;
}

.cashplan .noti-index__item:last-child{
  padding-right: 0;
  border-right: 0;
}

.cashplan .noti-index__item p{
  margin-bottom: 0;
}

.cashplan .noti-index__item .number{
  font-family: hb;
}

.cashplan .btn-add{
  width: 182px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;
  margin-bottom: 24px;
}

.cashplan .box-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cashplan .box-control .control{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.cashplan .box-control .count,
.cashplan .box-control .text{
  margin-bottom: 0;
  color: var(--gray-cl-5);
}

.cashplan .box-control .count{
  font-family: hb;
}

.cashplan .box-control .btn-export,
.cashplan .box-control .btn-delete{
  border: 1px solid var(--gray-cl-3);
}

.cashplan .box-control .btn-export{
  background-color: #73C1E5;
}

.cashplan .box-control .btn-delete{
  background-color: #E57381;
}