/* Introduction General */

.introduction .wrap{
  overflow: hidden;
  margin-top: -270px;
  border-radius: 16px;
  filter: drop-shadow(0px 5px 10px rgba(53, 99, 172, 0.3));
}

.introduction h3{
  font-family: hr;
  text-align: left;
  color: var(--gray-cl-8);
}

.introduction-bs{
  display: flex;
}

.introduction-bs__left,
.introduction-slogan__item{
  padding: 48px;
}

.introduction-bs__left{
  width: 896px;
  flex-shrink: 0;
  background-color: var(--gray-cl-2);
}

.introduction-bs__left h3{
  margin-bottom: 48px;
}

.introduction-bs__content p{
  color: #2D2D2D;
  margin-bottom: 18px;
}

.introduction-bs__content p:last-child{
  margin-bottom: 0;
}

.introduction-bs img{
  object-fit: cover;
}

.introduction-slogan{
  display: flex;
  background-color: var(--gray-cl-1);
}

.introduction-slogan__item{
  width: 50%;
}

.introduction-slogan__item .title{
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
}

.introduction-slogan__item .text{
  color: var(--gray-cl-7);
}

@media (max-width: 1399.98px){
  .introduction-bs__left{
    width: 670px;
  }
}

@media (max-width: 1199.98px){
  .introduction-bs__left{
    width: 50%;
  }
}

@media (max-width: 991.98px){
  .introduction-bs,
  .introduction-slogan{
    flex-direction: column;
  }

  .introduction-bs__left{
    width: 100%;
  }

  .introduction-bs img{
    height: 300px;
  }

  .introduction-slogan__item{
    width: 100%;
  }
}

@media (max-width: 767.98px){
  .introduction h3{
    font-size: 38px;
  }

  .introduction-bs__content p,
  .introduction-slogan__item .text{
    font-size: 18px;
  }
}

@media (max-width: 575.98px){

}

/* Leadership */

.leadership{
  background-color: var(--gray-cl-2);
}

.leadership .section-title{
  margin-bottom: 60px;
}

.leadership-item{
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 60px;
  background-color: var(--white-cl);
}

.leadership-item.reverse{
  flex-direction: row-reverse;
}

.leadership-item:last-child{
  margin-bottom: 0;
}

.leadership-avt{
  width: 427px;
  object-fit: cover;
}

.leadership-info{
  width: calc(100% - 427px);
  padding: 24px;
}

.leadership-info .name{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.leadership-info .name a{
  display: inline-block;
}

.leadership-info .position{
  text-align: left;
  color: var(--gray-cl-5);
  margin-bottom: 16px;
}

.leadership-info .exp{
  overflow: hidden;
  height: calc(100% - 154px);
}

.leadership-info .exp ul{
  list-style: disc;
  padding-left: 25px;
}

.leadership-info .exp p{
  font-family: hri;
  color: var(--primary-cl);
}

.leadership-info .exp p b{
  font-family: hb;
}

.leadership-info .exp li,
.leadership-info .exp p b{
  color: var(--gray-cl-7);
}

.leadership-info .read-more{
  color: var(--primary-cl);
  text-align: center;
  text-decoration: underline;
  margin-top: 24px;
}

@media (max-width: 1399.98px){

}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){
  .leadership-item,
  .leadership-item.reverse{
    flex-direction: column;
  }

  .leadership-avt,
  .leadership-info{
    width: 100%;
  }
}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){

}

/* History Company */

.section-about-history .wrap {
  position: relative;
  height: 1700px;
}

.section-about-history .history-tree {
  position: absolute;
  top: 140px;
  left: -680px;
  z-index: 0;
}

.section-about-history h3 {
  text-align: center;
}

.section-about-history .history-list {
  position: relative;
  height: 100%;
}

.section-about-history .history-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about-history .history-item:first-child {
  top: 135px;
  left: 600px;
}

.section-about-history .history-item:nth-child(2) {
  top: 550px;
  left: 660px;
}

.section-about-history .history-item:nth-child(3) {
  top: 960px;
  left: 500px;
}

.section-about-history .history-item:last-child {
  top: 1170px;
  left: 90px;
  z-index: 1;
}

.section-about-history .history-item .year {
  color: var(--gray-cl-7);
  margin-bottom: 8px;
}

.section-about-history .history-item .icon {
  margin-bottom: 18px;
}

.section-about-history .history-item .feature,
.section-about-history .history-item .feature h6{
  color: #2D2D2D;
}

.section-about-history .history-item .feature h6{
  font-family: hr;
  text-align: left;
}

@media (max-width: 1399.98px){
  .section-about-history .wrap {
    height: 1300px;
  }

  .section-about-history .history-item:first-child {
    top: 160px;
    left: 420px;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 410px;
    left: 490px;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 650px;
    left: 360px;
  }

  .section-about-history .history-item:last-child {
    top: 790px;
    left: 58px;
  }

  .section-about-history .history-item .icon {
    max-width: 120px;
  }

  .section-about-history .feature {
    max-width: 332px;
  }

  .section-about-history .history-tree {
    max-width: 800px;
    top: 160px;
    left: -330px;
  }
}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){
  .section-about-history .wrap {
    height: 1200px
  }

  .section-about-history .history-item:first-child {
    top: 140px;
    left: 340px;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 360px;
    left: 390px;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 610px;
    left: 310px;
  }

  .section-about-history .history-item:last-child {
    top: 705px;
    left: 30px;
  }

  .section-about-history .feature {
    max-width: 234px;
  }

  .section-about-history .feature h4 {
    font-size: 20px;
    font-family: hb;
  }

  .section-about-history .feature p {
    font-size: 14px;
  }

  .section-about-history .history-tree {
    max-width: 700px;
    top: 160px;
    left: -330px;
  }
}

@media (max-width: 767.98px){
  .section-about-history .wrap {
    height: 1000px;
  }

  .section-about-history .history-item:first-child {
    top: 110px;
    left: 250px;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 290px;
    left: 300px;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 480px;
    left: 210px;
  }

  .section-about-history .history-item:last-child {
    top: 546px;
    left: 10px;
  }

  .section-about-history .history-item .icon {
    max-width: 88px;
  }

  .section-about-history .feature {
    max-width: 140px;
  }

  .section-about-history .feature h4 {
    font-size: 15px;
  }

  .section-about-history .history-tree {
    max-width: 520px;
    top: 160px;
    left: -250px;
  }
}

@media (max-width: 575.98px){
  .section-about-history .history-item:first-child {
    top: 22px;
    left: 220px;
  }

  .section-about-history .history-item:nth-child(2) {
    top: 172px;
    left: 240px;
  }

  .section-about-history .history-item:nth-child(3) {
    top: 300px;
    left: 180px;
  }

  .section-about-history .history-item:last-child {
    top: 388px;
    left: 30px;
  }

  .section-about-history .history-tree {
    max-width: 400px;
    top: 180px;
    left: -170px;
  }
}

.advertise.bg-img-blue{
  background: url(../../img/web/aboutus-contact-bg.jpg) center center/cover no-repeat;
}