/* Banner Home */

.banner-home{
  position: relative;
  overflow: hidden;
  padding: 230px 0;
}

.banner-home .banner-body{
  position: relative;
  z-index: 2;
}

.banner-home .banner-body .wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-home .banner-home__left{
  max-width: 614px;
  color: var(--white-cl);
}

.banner-home__left .banner-home__title{
  font-size: 72px;
  line-height: 1.2;
  font-family: mb;
  text-align: left;
  color: var(--white-cl);
  margin-bottom: 40px;
}

.banner-home__left .banner-home__text{
  max-width: 529px;
  margin-bottom: 48px;
}

.banner-home__left .banner-home__text .text-bold{
  font-family: 'hb';
}

.banner-home__left .btn-contact{
  font-family: hb;
}

.banner-video{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-video video{
  max-width: 150%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-video .banner-video__bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1399.98px){
  /* .banner-video video{
    max-width: inherit;
    max-height: 100%;
  } */
}

@media (max-width: 767.98px) {
  .banner-home{
    padding: 115px 0;
    background-color: var(--gray-cl-5);
  }

  .banner-home__left .banner-home__title{
    font-size: 39px;
    line-height: 1.5;
  }

  /* .banner-video video{
    position: relative;
    left: -25%;
  } */
}

@media (max-width: 575.98px){
  .banner-home__left .banner-home__text br{
    display: none;
  }
}

/* Banner Default */

.banner-default{
  background-color: var(--bg-cyan-cl);
}

.banner-default .wrap{
  height: 656px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-default__link{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.banner-default__link .text{
  font-family: mr;
  font-size: 48px;
  line-height: 58px;
  color: var(--gray-cl-6);
}

.banner-default__title{
  color: var(--primary-cl);
  text-transform: uppercase;
}

@media (max-width: 991.98px){
  .banner-default__link .text{
    font-size: 34px;
    line-height: 40px;
  }

  .banner-default__title{
    font-size: 56px;
  }
}

@media (max-width: 575.98px){
  .banner-default__link .text{
    font-size: 28px;
    line-height: 30px;
  }

  .banner-default__title{
    font-size: 45px;
  }
}