/* Logo Style */
.logo{
  width: 207px;
  display: flex;
  align-items: center;
}

/* Button Style */
.btn{
  width: var(--w-btn);
  height: var(--h-btn);
  font-size: var(--fz-btn);
  font-family: hm;
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-size-md{
  --w-btn: 142px;
  --h-btn: 46px;
  --fz-btn: 16px;
}

.btn.btn-size-lg{
  --w-btn: 202px;
  --h-btn: 56px;
  --fz-btn: 20px;
}

.btn.btn-size-full{
  --w-btn: 100%;
  --h-btn: 48px;
}

.btn.btn-primary{
  color: var(--white-cl);
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.btn.btn-second{
  color: var(--primary-cl);
  background-color: var(--second-cl);
  border: 1px solid transparent;
}

.btn.btn-stroke{
  color: var(--primary-cl);
  background-color: transparent;
  border: 1px solid var(--primary-cl);
}

/* Section Style */
.section{
  padding: 120px 0;
}

.section-title{
  font-family: mm;
  text-transform: uppercase;
}

/* Back to top Style */

.backtotop{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-cl);
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}