/* Logo Style */
.logo{
  width: 207px;
  display: flex;
  align-items: center;
}

/* Color Style */

.bg-yellow-cl{
  background-color: var(--bg-yellow-cl);
}

.bg-purple-cl{
  background-color: var(--bg-purple-cl);
}

.bg-cyan-cl{
  background-color: var(--bg-cyan-cl);
}

.bg-green-cl{
  background-color: var(--bg-green-cl);
}

.no-border{
  border: 0;
}

.no-bg{
  background-color: transparent;
}

/* Button Style */
.btn{
  width: var(--w-btn);
  height: var(--h-btn);
  font-size: var(--fz-btn);
  font-family: hm;
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-size-md{
  --w-btn: 142px;
  --h-btn: 46px;
  --fz-btn: 16px;
}

.btn.btn-size-lg{
  --w-btn: 202px;
  --h-btn: 56px;
  --fz-btn: 20px;
}

.btn.btn-size-full{
  --w-btn: 100%;
  --h-btn: 48px;
}

.btn.btn-primary{
  color: var(--white-cl);
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.btn.btn-second{
  color: var(--primary-cl);
  background-color: var(--second-cl);
  border: 1px solid transparent;
}

.btn.btn-stroke{
  color: var(--primary-cl);
  background-color: transparent;
  border: 1px solid var(--primary-cl);
}

/* Section Style */
.section{
  padding: 120px 0;
}

.section-title{
  font-family: mm;
  text-transform: uppercase;
}

@media (max-width: 991.98px){
  .section{
    padding: 70px 0;
  }
}

/* Back to top Style */

.backtotop{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-cl);
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}

/* Advertise Style */

.advertise{
  padding: 120px 0;
}

.advertise.bg-img-w{
  padding: 240px 0 120px;
  background: url('../../img/web/advertise-img-w.jpg') center bottom/cover no-repeat;
}

.advertise.bg-img-blue{
  background: url('../../img/web/advertise-img.jpg') center bottom/cover no-repeat;
}

.advertise-title{
  margin-bottom: 60px;
}

.advertise.bg-img-w .advertise-title{
  color: var(--gray-cl-8);
}

.advertise.bg-img-blue .advertise-title{
  color: var(--white-cl);
}

.advertise .btn-contact{
  margin: 0 auto;
}

/* Benefits Section */

.benefits-product__list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.benefits-product__item{
  width: var(--w-item);
  height: var(--h-item);
  position: relative;
  border-radius: 16px;
}

.benefits-product__content{
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--pd-item);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 16px;
  transition: all .5s ease 0s;
}

.benefits-product__item:not(.no-bg):after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 16px;
  display: inline-block;
  background-color: var(--primary-cl-2);
}

.benefits-product__item:not(.no-bg):hover .benefits-product__content{
  top: -10px;
  right: -10px;
}

.benefits-product__item h4{
  --text-align: left;
  text-align: var(--text-align);
}

.benefits-product__item .icon{
  margin-bottom: 40px;
}

.benefits-product__item p{
  text-align: center;
  color: var(--gray-cl-7);
}

@media (max-width: 1399.98px){

}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){

}

@media (max-width: 767.98px){

  .benefits-product__item.no-bg{
    height: auto;
  }

  .benefits-product__item.no-bg .benefits-product__content{
    position: static;
  }
}

@media (max-width: 575.98px){

}

/* Why Product Section */

.why-product{
  background-color: var(--bg-cyan-cl);
}

.why-product .wrap{
  --w-why-content: 732px;
  display: flex;
  align-items: flex-start;
}

.why-product__content{
  width: var(--w-why-content);
}

.why-product__content h4{
  text-align: left;
  margin-bottom: 60px;
}

.why-product__list{
  width: 600px;
}

.why-product__item{
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  background-color: var(--white-cl);
}

.why-product__item:last-child{
  margin-bottom: 0;
}

.why-product__item .text{
  color: var(--gray-cl-8);
}

.why-product__img{
  width: calc(100% - var(--w-why-content));
}

@media (max-width: 1399.98px){
  .why-product .wrap{
    --w-why-content: 50%;
    align-items: center;
    column-gap: 30px;
  }

  .why-product__list{
    width: 100%;
  }
}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){
  .why-product .wrap{
    --w-why-content: 100%;
    flex-direction: column;
    row-gap: 30px;
  }

  .why-product__img{
    width: 100%;
  }
}

@media (max-width: 767.98px){
  
}

@media (max-width: 575.98px){

}

/* Help Product Section */

.help-product{
  background: var(--bg-help-section);
}

.help-product .wrap{
  margin-bottom: var(--mr-bt);
}

.help-product h4{
  width: 970px;
  color: var(--white-cl);
  margin: 0 auto 60px;
}

.help-product__list{
  display: flex;
  align-items: var(--align-items);
  justify-content: space-between;
}

.help-product__item{
  width: var(--w-item);
  padding:  var(--pd-item);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.help-product__item .icon{
  width: var(--size-icon);
  height: var(--size-icon);
  border-radius: var(--border-radius-icon);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform-rotate);
}

.help-product__item .icon img{
  transform: var(--transform-rotate);
}

.help-product__item p{
  text-align: center;
}

@media (max-width: 1399.98px){

}

@media (max-width: 1199.98px){
  .help-product h4{
    width: 100%;
  }
}

@media (max-width: 991.98px){
}

@media (max-width: 767.98px){
  .help-product__list{
    flex-direction: column;
  }
}

@media (max-width: 575.98px){

}

/* Register Advice Style */

.advice .wrap{
  --w-advice-left: 760px;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--white-cl);
  filter: drop-shadow(0px 5px 10px rgba(53, 99, 172, 0.3));
}

.advice-left{
  padding: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width: var(--w-advice-left);
  background: url('../../img/web/register-advise-img-1.jpg') center bottom/cover no-repeat;
}

.advice-left h4,
.advice-left h3{
  color: var(--white-cl);
}

.advice-left h4{
  margin-bottom: 8px;
}

.advice-left h3{
  font-family: hb;
}

.advice-right{
  padding: 60px 80px;
  width: calc(100% - var(--w-advice-left));
}

.advice-right h6{
  margin-bottom: 40px;
}

.advice-right .form-group{
  margin-bottom: 24px;
}

.advice-right .form-group:last-child{
  margin-bottom: 0;
}

.advice-right .form-control,
.advice-right .form-select{
  font-size: 18px;
  line-height: 28px;
  padding: 12px 16px;
  border-radius: 5px;
  border: 0;
  background-color: var(--gray-cl-1);
}

.advice-right .form-control:focus,
.advice-right .form-select:focus{
  box-shadow: none;
}

.advice-right .form-control::placeholder{
  color: var(--gray-cl-6);
}

.advice-right .btn-register{
  margin: 40px auto 0;
}

@media (max-width: 1399.98px){
  .advice .wrap{
    --w-advice-left: 56%;
  }
}

@media (max-width: 1199.98px){
  .advice-right{
    padding: 40px 30px;
  }
}

@media (max-width: 991.98px){
  .advice .wrap{
    --w-advice-left: 100%;
    flex-wrap: wrap;
  }

  .advice-left{
    padding: 100px 60px;
  }

  .advice-right{
    width: 100%;
  }
}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){
  .advice-left{
    padding: 100px 30px;
  }
}