.btn{
  --w-btn: 144px;
  --h-btn: 48px;
  font-size: 16px;
  font-family: hm;
  border-radius: 5px;
  width: var(--w-btn);
  height: var(--h-btn);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-primary{
  color: var(--white-cl);
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.logo{
  width: 207px;
  display: inline-block;
}