.footer{
  padding: 48px 0;
  background-color: var(--gray-cl-2);
}

.footer .wrap{
  display: flex;
  justify-content: space-between;
}

.footer-item{
  max-width: 216px;
}

.footer-item:first-child{
  max-width: 360px;
}

.footer-item:last-child{
  margin-right: 0;
}

.footer-item .logo,
.footer-item .footer-item__title{
  height: 32px;
  margin-bottom: 24px;
}

.footer-item__content p,
.footer-item__content ul li{
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-item__content p,
.footer-item__content ul li a{
  color: var(--gray-cl-7);
}

.footer-item__content p:last-child{
  margin-bottom: 0;
}

.footer-item__content p span{
  font-family: hb;
}

.footer-item__title{
  color: var(--primary-cl);
}

.footer-item__social{
  display: flex;
  column-gap: 16px;
}

.footer-item__img a{
  display: inline-block;
  margin-top: 16px;
}

@media (max-width: 1399.98px){
  .footer-item{
    max-width: 200px;
  }

  .footer-item:first-child{
    max-width: 310px;
  }
}

@media (max-width: 1199.98px){
  .footer-item{
    max-width: 150px;
  }

  .footer-item:first-child{
    max-width: 260px;
  }
}

@media (max-width: 991.98px){
  .footer .wrap{
    gap: 20px;
    flex-wrap: wrap;
  }

  .footer-item{
    max-width: none;
  }
}

@media (max-width: 767.98px){
  .footer .wrap{
    row-gap: 30px;
    flex-direction: column;
  }

  .footer-item,
  .footer-item:first-child{
    max-width: 100%;
  }
}