.footer{
  padding: 48px 0;
  background-color: var(--gray-cl-2);
}

.footer .wrap{
  display: flex;
  justify-content: space-between;
}

.footer-item{
  width: 206px;
}

.footer-item:first-child{
  width: 354px;
}

.footer-item:last-child{
  margin-right: 0;
}

.footer-item .logo,
.footer-item .footer-item__title{
  height: 32px;
  margin-bottom: 24px;
}

.footer-item__content p,
.footer-item__content ul li{
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-item__content p,
.footer-item__content ul li a{
  color: var(--gray-cl-7);
}

.footer-item__content p:last-child{
  margin-bottom: 0;
}

.footer-item__content p span{
  font-family: hb;
}

.footer-item__title{
  color: var(--primary-cl);
}