.footer{
  padding: 48px 0;
  background-color: var(--gray-cl-1);
}

.footer .wrap{
  display: flex;
}

.footer-item{
  width: 195.5px;
  margin-right: 32px;
}

.footer-item:first-child{
  width: 374px;
  margin-right: 38px;
}

.footer-item:last-child{
  margin-right: 0;
}

.footer-item .logo,
.footer-item .footer-item__title{
  height: 32px;
  margin-bottom: 24px;
}

.footer-item__content p,
.footer-item__content ul li{
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-item__content p:last-child{
  margin-bottom: 0;
}

.footer-item__content p span{
  font-family: hb;
}

.footer-item__title{
  color: var(--primary-cl);
}

.footer-item__content li a{
  color: var(--gray-cl-5);
}