:root {
  --white-cl: #ffffff;
  --black-cl: #121314;

  --primary-cl: #3563ac;
  --primary-cl-1: #b6cae9;
  --primary-cl-2: #92afdd;
  --primary-cl-3: #6e94d2;
  --primary-cl-4: #497ac7;
  --primary-cl-6: #234273;

  --second-cl: #fbc540;
  --text-btn-cl: #fbc540;

  --gray-cl-1: #f4f5f7;
  --gray-cl-2: #e7eaed;
  --gray-cl-3: #d1d8dc;
  --gray-cl-4: #b0bbbe;
  --gray-cl-5: #84939a;
  --gray-cl-6: #6f818c;
  --gray-cl-7: #3c4248;
  --gray-cl-8: #122139;

  --bg-yellow-cl: #fdf9ee;

  --bg-purple-cl: #fbf5fd;

  --bg-cyan-cl: #eef2fd;
  --bg-cyan-cl-2: #e4f1f7;
  --bg-cyan-cl-3: #d6eaf3;

  --bg-green-cl: #f2fdee;
}

* {
  /* user-select: none; */
}

html {
  font-size: 20px;
}

body {
  font-family: hr;
  color: var(--gray-cl-5);
  position: relative;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  color: var(--primary-cl);
}

h1,
h2 {
  font-family: mm;
}

h3,
h4,
h5,
h6 {
  font-family: hm;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 24px;
}

small,
.text_small {
  font-size: 18px;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.main {
  overflow: hidden;
  position: relative;
}

@media (max-width: 991.98px) {
  h3 {
    font-size: 42px;
  }

  h4 {
    font-size: 34px;
  }

  h6 {
    font-size: 20px;
  }
}
