:root {
  --white-cl: #ffffff;
  --black-cl: #121314;

  --primary-cl: #3563AC;
  --primary-cl-1: #B6CAE9;
  --primary-cl-2: #92AFDD;
  --primary-cl-3: #6E94D2;
  --primary-cl-4: #497AC7;
  --primary-cl-6: #234273;

  --second-cl: #FBC540;
  --text-btn-cl: #FBC540;

  --gray-cl-1: #F4F5F7;
  --gray-cl-2: #E7EAED;
  --gray-cl-3: #D1D8DC;
  --gray-cl-4: #B0BBBE;
  --gray-cl-5: #84939A;
  --gray-cl-6: #6F818C;
  --gray-cl-7: #3C4248;
  --gray-cl-8: #122139;

  --bg-yellow-cl: #FDF9EE;

  --bg-purple-cl: #FBF5FD;

  --bg-cyan-cl: #EEF2FD;
  --bg-cyan-cl-2: #E4F1F7;
  --bg-cyan-cl-3: #D6EAF3;

  --bg-green-cl: #F2FDEE;
}

* {
  user-select: none;
}

html {
  font-size: 20px;
}

body{
  font-family: hr;
  color: var(--gray-cl-5);
  position: relative;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  color: var(--primary-cl);
}

h1, h2{
  font-family: mm;
}

h3, h4, h5, h6{
  font-family: hm;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 24px;
}

small, 
.text_small {
  font-size: 18px;
}

p{
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

textarea{
  resize: none;
}

.main{
  overflow: hidden;
  position: relative;
}

@media (max-width: 991.98px){
  h3 {
    font-size: 42px;
  }

  h4 {
    font-size: 34px;
  }

  h6 {
    font-size: 20px;
  }
}