.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 222;
  padding: 18.5px 0;
  background-color: transparent;
}

.header.fixed{
  position: fixed;
  background-color: var(--white-cl);
}

.header .wrap{
  display: flex;
  justify-content: space-between;
}

.header.header-home .logo img:first-child{
  display: block;
}

.header.header-home .logo img:last-child{
  display: none;
}

.header:not(.header-home) .logo img:first-child{
  display: none;
}

.header:not(.header-home) .logo img:last-child{
  display: block;
}

.header.fixed .logo img:first-child{
  display: none;
}

.header.fixed .logo img:last-child{
  display: block;
}

.menu-main__parent{
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.menu-main__parent .menu-main__item{
  height: 100%;
  position: relative;
}

.menu-main__parent .menu-main__link,
.menu-main__child li a{
  font-family: hm;
}

.menu-main__parent .menu-main__link{
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--primary-cl-6);
}

.header.header-home .menu-main__parent .menu-main__link{
  color: var(--white-cl);
}

.header.fixed .menu-main__parent .menu-main__link{
  color: var(--primary-cl-6);
}

.menu-main__link .icon,
.menu-main__link .icon-w{
  transition: transform .5s ease;
}

.menu-main__link.active .icon,
.menu-main__link.active .icon-w{
  transform: rotate(-180deg);
}

.header .menu-main__link .icon{
  display: none;
}

.header .menu-main__link .icon-w{
  display: block;
}

.header:not(.header-home) .icon{
  display: block;
}

.header:not(.header-home) .icon-w{
  display: none;
}

.header.fixed .menu-main__link .icon{
  display: block;
}

.header.fixed .menu-main__link .icon-w{
  display: none;
}

.menu-main__child{
  position: absolute;
  top: calc(100% + 18.5px);
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: all 0.2s ease;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--white-cl);
}

.menu-main__child li a{
  padding: 15px 20px;
  display: inline-block;
  white-space: nowrap;
  color: var(--primary-cl);
}

.menu-main__link.active + .menu-main__child{
  opacity: 1;
}

.button-control{
  width: 296px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-control .btn.btn-stroke{
  color: var(--primary-cl);
  background-color: transparent;
  border: 1px solid var(--primary-cl);
}

.button-control .btn.btn-primary{
  color: var(--white-cl);
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.header.header-home .button-control .btn.btn-stroke{
  color: var(--white-cl);
  background-color: transparent;
  border: 1px solid var(--white-cl);
}

.header.header-home .button-control .btn.btn-primary{
  color: var(--primary-cl);
  background-color: var(--white-cl);
  border: 1px solid transparent;
}

.header.fixed .button-control .btn.btn-stroke{
  color: var(--primary-cl);
  background-color: transparent;
  border: 1px solid var(--primary-cl);
}

.header.fixed .button-control .btn.btn-primary{
  color: var(--white-cl);
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.header .nav-bars{
  display: none;
}

.menu-main__item.button-control{
  display: none;
}

@media (max-width: 1399.98px){
  .logo{
    width: 165px;
  }

  .menu-main__parent{
    column-gap: 20px;
  }

  .menu-main__parent .menu-main__link{
    font-size: 15px;
  }

  .button-control{
    width: 300px;
  }

  .button-control .btn.btn-size-md{
    --w-btn: 145px;
  }
}

@media (max-width: 991.98px) {
  .header .wrap{
    width: 100%;
  }

  .header .logo{
    width: 140px;
  }

  .menu-main__parent{
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: var(--white-cl);
    transition: all 0.5s ease 0s;
  }

  .menu-main__parent.checked{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu-main__parent .menu-main__item{
    width: 100%;
  }

  .menu-main__parent .menu-main__link{
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;
  }

  .header.header-home .menu-main__parent .menu-main__link{
    color: var(--primary-cl-6);
  }

  .header .menu-main__link .icon{
    display: block;
  }

  .header .menu-main__link .icon-w{
    display: none;
  }

  .menu-main__child{
    max-height: 0;
    position: relative;
    box-shadow: none;
  }

  .menu-main__child li a{
    width: 100%;
    font-size: 15px;
    padding: 15px 30px;
  }

  .button-control{
    display: none;
  }

  .header .nav-bars{
    width: 40px;
    height: 40px;
    display: block;
    border: 0;
    box-shadow: none;
    color: var(--primary-cl-6);
    background-color: transparent;
  }

  .header.header-home .nav-bars{
    color: var(--white-cl);
  }

  .header.fixed .nav-bars{
    color: var(--primary-cl-6);
  }

  .menu-main__item.button-control{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 10px 15px;
  }

  .menu-main__item.button-control .btn.btn-size-full{
    --h-btn: 40px;
    --fz-btn: 15px;
  }

  .header.header-home .menu-main__item.button-control .btn.btn-stroke{
    color: var(--primary-cl);
    background-color: transparent;
    border: 1px solid var(--primary-cl);
  }

  .header.header-home .menu-main__item.button-control .btn.btn-primary{
    color: var(--white-cl);
    background-color: var(--primary-cl);
    border: 1px solid transparent;
  }
}