/* Solution */

.solution .section-title{
  margin-bottom: 60px;
}

.solution-body{
  display: flex;
  justify-content: space-between;
}

.solution-body .card{
  width: calc((100% / 3) - 7.5px);
  padding: 40px;
  border: 0;
  border-radius: 16px;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.solution-body .card:first-child{
  background-color: var(--bg-purple-cl);
}

.solution-body .card:nth-child(2){
  background-color: #EEF2FD;
}

.solution-body .card:last-child{
  background-color: var(--bg-yellow-cl);
}

.solution-body .card-img-top{
  width: 96px;
  display: inline-block;
  margin-bottom: 24px;
}

.solution-body .card-body{
  padding: 0;
  margin-bottom: 32px;
}

.solution-body .card-body__title{
  height: 72px;
  color: var(--gray-cl-7);
  text-align: center;
  margin-bottom: 16px;
}

.solution-body .card-body__content p,
.solution-body .card-body__content li{
  color: var(--gray-cl-7);
  margin-bottom: 12px;
}

.solution-body .card-body__content p{
  text-align: center;
}

.solution-body .card-body__content li{
  display: flex;
  align-items: flex-start;
}

.solution-body .card-body__content li:last-child{
  margin-bottom: 0;
}

.solution-body .card-body__content li .icon{
  margin-top: 3px;
}

.solution-body .card-link{
  width: 100%;
}

.solution-body .card-link .btn{
  font-size: 18px;
  font-family: hr;
  text-decoration: underline;
  color: var(--primary-cl);
}

@media (max-width: 1199.98px){
  .solution-body .card-body__title{
    height: 108px;
  }
}

@media (max-width: 991.98px){
  .solution-body .card{
    padding: 20px;
  }

  .solution-body .card-img-top{
    width: 68px;
  }

  .solution-body .card-body__title{
    height: 81px;
    font-size: 18px;
  }

  .solution-body .card-body__content p, 
  .solution-body .card-body__content li{
    font-size: 16px;
  }

  .solution-body .card-link .btn{
    font-size: 16px;
  }
}

@media (max-width: 767.98px){
  .solution-body{
    flex-direction: column;
  }

  .solution-body .card{
    width: 100%;
    padding: 28px;
    margin-bottom: 16px;
  }

  .solution-body .card:last-child{
    margin-bottom: 0;
  }

  .solution-body .card-body__title{
    height: auto;
  }
}

/* End Solution */

/* Why BossStack */

.why-bs{
  overflow: hidden;
  background-color: var(--primary-cl);
}

.why-bs .wrap{
  position: relative;
}

.why-bs__left{
  max-width: 660px;
  position: relative;
  z-index: 2;
}

.why-bs__left .section-title{
  color: var(--white-cl);
  text-align: left;
  margin-bottom: 56px;
}

.why-bs__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

.why-bs__item{
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 16px;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: var(--primary-cl-4);
}

.why-bs__item .text{
  color: var(--white-cl);
}

.why-bs__img{
  width: 727px;
  position: absolute;
  top: -30px;
  right: -141px;
  z-index: 1;
}

@media (max-width: 991.98px){
  .why-bs__img{
    position: static;
  }
}

@media (max-width: 767.98px){
  .why-bs__list{
    flex-direction: column;
  }

  .why-bs__item{
    width: 100%;
  }

  .why-bs__img{
    display: none;
  }
}

/* End Why BossStack */

/* Partner */

.section-partner{
  padding: 60px 0;
}

.partner-carousel .owl-stage{
  display: flex;
  align-items: center;
}

.partner-carousel .owl-item{
  margin: 0 60px;
}

@media (max-width: 767.98px){
  .partner-carousel .owl-item{
    margin-right: 0;
  }

  .partner-carousel .owl-item img{
    width: 68%;
    margin: 0 auto;
  }
}

/* End Partner */

/* Review */

.review{
  padding: 80px 0;
  background: var(--bg-cyan-cl) url('../../img/web/review-bg.jpg') center bottom/cover no-repeat;
}

.review .wrap{
  position: relative;
  z-index: 2;
}

.review .section-title{
  margin-bottom: 48px;
}

.review-body{
  position: relative;
  margin-bottom: -165px;
  border-radius: 16px;
  background-color: var(--primary-cl-6);
}

.review-carousel{
  padding: 64px 104px;
}

.review-rate{
  display: flex;
  margin-bottom: 52px;
}

.review-rate__item{
  padding: 0 34px;
  border-right: 1px solid var(--white-cl);
}

.review-rate__item:first-child{
  padding-left: 0;
}

.review-rate__item:last-child{
  padding-right: 0;
  border-right: 0;
}

.review-rate__item .title{
  font-family: hb;
  font-size: 18px;
  color: var(--white-cl);
  margin-bottom: 4px;
}

.review-rate__item .start{
  display: flex;
  align-items: center;
}

.review-rate__item .start img{
  width: 20px;
}

.review-content{
  font-family: hri;
  color: var(--white-cl);
  margin-bottom: 62px;
}

.review-content .text-bold{
  font-family: hbi;
}

.review-footer {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-footer .review-footer__avt{
  width: 96px !important;
  height: 96px;
  object-fit: cover;
  border-radius: 5px;
}

.review-footer .review-footer__info{
  width: calc(100% - 124px);
}

.review-footer .review-footer__info .name,
.review-footer .review-footer__info .position{
  color: var(--white-cl);
}

.review-footer .review-footer__info .name{
  text-align: left;
}

.review-footer .review-footer__info .position{
  font-size: 16px;
  font-family: hri;
}

.review-carousel.owl-theme .owl-nav [class*=owl-]{
  width: 42px;
  height: 42px;
  margin: 0;
  border-radius: 50%;
  background: #2B4881;
  color: var(--white-cl);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.review-carousel.owl-theme .owl-nav .owl-prev{
  left: 38px;
}

.review-carousel.owl-theme .owl-nav .owl-next{
  right: 38px;
}

@media (max-width: 767.98px){
  .review-carousel{
    padding: 36px 26px;
  }

  .review-rate,
  .review-content{
    margin-bottom: 32px;
  }

  .review-rate__item{
    width: calc(100% / 3);
    padding: 0 15px;
  }

  .review-rate__item .title{
    font-size: 14px;
    height: 63px;
  }

  .review-rate__item .start img{
    width: 13px;
  }

  .review-content{
    font-size: 16px;
  }

  .review-footer {
    width: 100%;
  }

  .review-footer .review-footer__avt{
    width: 70px !important;
    height: 70px;
  }

  .review-footer .review-footer__info{
    width: calc(100% - 85px);
  }
}

/* End Review */

/* Contact Us */

.contact-us{
  padding: 240px 0 80px;
}

.contact-us .wrap{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-us__content .section-title{
  font-family: hb;
  font-size: 32px;
  text-align: left;
  color: var(--gray-cl-7);
  text-transform: none;
  margin-bottom: 40px;
}

.contact-us__content{
  width: 540px;
}

.contact-us__item{
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: var(--bg-cyan-cl-3);
}

.contact-us__item:last-child{
  margin-bottom: 0;
}

.contact-us__item .text{
  color: var(--gray-cl-8);
}

.contact-us__form{
  width: 646px;
  padding: 80px;
  border-radius: 16px;
  background-color: var(--bg-cyan-cl-2);
}

.contact-us__form .form-group{
  margin-bottom: 32px;
}

.contact-us__form .form-label{
  font-family: hb;
  color: #233945;
  margin-bottom: 16px;
}

.contact-us__form .form-control{
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid var(--gray-cl-3);
}

.contact-us__form .form-control:focus{
  box-shadow: none;
  border: 1px solid var(--gray-cl-7);
}

.contact-us__form .form-control::placeholder{
  color: var(--gray-cl-5);
}

.contact-us__form textarea.form-control{
  height: 109px;
}

.contact-us__form .btn-send{
  margin: 0 auto;
}

@media (max-width: 1399.98px){
  .contact-us__content,
  .contact-us__form{
    width: calc(50% - 30px);
  }

  .contact-us__form{
    padding: 40px;
  }
}

@media (max-width: 991.98px){
  .contact-us{
    padding: 140px 0 80px;
  }

  .contact-us .wrap{
    row-gap: 30px;
    flex-direction: column;
  }

  .contact-us__content,
  .contact-us__form{
    width: 100%;
  }

  .contact-us__form{
    padding: 25px;
  }

  .contact-us__form .form-label{
    font-size: 16px;
  }

  .contact-us__form .form-control{
    padding: 8px 20px;
  }
}

/* End Contact Us */