.package{
  background-color: var(--primary-cl-1);
}

.package-list{
  --package-count: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.package-item{
  --w-item: calc(100% / var(--package-count));
  width: calc(var(--w-item) - 18px);
  border-radius: 16px;
  background-color: var(--white-cl);
}

.package-item:first-child{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  column-gap: 120px;
  padding: 0 120px 0 50px;
  background: url('../../img/web/package-bg.jpg') center center/cover no-repeat;
}

.package-item:last-child{
  height: 1382px;
  background-color: var(--primary-cl-4);
  box-shadow: 0px 0px 45px rgba(53, 99, 172, 0.8);
}

.package-item:first-child .package-content p:first-child{
  font-family: hb;
  font-size: 80px;
  line-height: 98px;
  margin-bottom: 16px;
  background: linear-gradient(93.37deg, #FBC540 11.76%, #FDEBBE 49.54%, #FBC540 80.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.package-item:first-child .package-content p:last-child{
  font-size: 40px;
  color: var(--bg-cyan-cl);
}

.package-item .package-control,
.package-control .package-price,
.package-control .package-price .info,
.package-control .package-option{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.package-item .package-name{
  padding: 10px;
  text-align: center;
  position: relative;
  color: var(--white-cl);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.package-item:nth-child(2) .package-name{
  background-color: var(--primary-cl-2);
}

.package-item:nth-child(3) .package-name{
  background-color: var(--primary-cl-3);
}

.package-item:last-child .package-name{
  background-color: var(--primary-cl-6);
}

/* .package-item:last-child .package-name{
  background-color: var(--primary-cl);
} */

.package-item .package-name .seller{
  position: absolute;
  top: -30px;
  right: -17px;
}

.package-item .package-control{
  height: 315px;
  padding: 24px 14px;
}

.package-control .package-price{
  width: 100%;
  height: 135px;
  padding: 16px 0;
  margin-bottom: 24px;
}

.package-item:last-child .package-price .info{
  align-items: flex-end;
  flex-direction: row;
  column-gap: 4px;
}

.package-price .amount{
  color: var(--gray-cl-7);
  line-height: 42px;
}

.package-price .unit{
  color: var(--gray-cl-6);
  line-height: 28px;
}

.package-price .note{
  text-align: center;
  color: var(--gray-cl-7);
}

.package-item:last-child .package-price .user-type,
.package-item:last-child .package-price .amount,
.package-item:last-child .package-price .unit,
.package-item:last-child .package-price .note{
  color: var(--white-cl);
}

.package-option,
.package-option .form-select{
  width: 100%;
}

.package-control .package-option{
  flex-grow: 1;
  justify-content: flex-end;
}

.package-option .form-select{
  font-size: 18px;
  padding: 4px 8px;
  margin-bottom: 16px;
  color: var(--gray-cl-7);
  border: 1px solid var(--gray-cl-3);
  background-color: var(--gray-cl-1);
}

.package-option .form-select:focus{
  box-shadow: none;
}

.package-option .form-select:disabled{
  cursor: no-drop;
  color: var(--gray-cl-4);
  border: 1px solid var(--gray-cl-4);
  background-color: transparent;
}

.package-item:last-child .package-option .btn-buy{
  color: #121314;
}

.package-service{
  height: 365px;
}

.package-policy{
  height: 274px;
}

.package-title{
  font-family: hm;
  color: var(--gray-cl-8);
  padding: 8px 24px;
  background-color: var(--gray-cl-1);
}

.package-info{
  list-style: disc;
  padding: 24px 16px 24px 46px;
}

.package-info li{
  color: var(--gray-cl-7);
}

.package-item:last-child .package-info li{
  color: var(--white-cl);
}

.package-support .package-info li,
.package-security .package-info li{
  color: var(--gray-cl-6);
}

@media (max-width: 1399.98px){
  .package-list{
    row-gap: 36px;
  }

  .package-item{
    --w-item: 50%;
  }

  .package-service{
    height: 364px;
  }

  .package-policy{
    height: 184px;
  }
}

@media (max-width: 1199.98px){

}

@media (max-width: 991.98px){
  .package-service{
    height: 454px;
  }

  .package-policy{
    height: 274px;
  }
}

@media (max-width: 767.98px){
  .package-list{
    row-gap: 40px;
  }

  .package-item{
    width: 100%;
  }

  .package-service,
  .package-policy{
    height: auto;
  }
}

@media (max-width: 575.98px){

}