.banner-default .wrap{
  height: 333px;
}

.payment{
  background-color: var(--gray-cl-1);
}

.payment form{
  --w-payment-left: 772px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.payment-left,
.payment-right{
  padding: 32px;
  border-radius: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.payment-left{
  width: calc(var(--w-payment-left) - 12px);
}

.payment-right{
  width: calc(100% - (var(--w-payment-left) + 12px));
}

.payment-title{
  text-align: left;
  color: var(--gray-cl-7);
  margin-bottom: 48px;
}

.payment-customer span,
.payment-form span{
  font-size: 18px;
  display: inline-block;
  color: var(--gray-cl-7);
}

.payment-customer .title,
.payment-form .title{
  width: 150px;
  font-family: hb;
}

.payment-customer .text,
.payment-form .text{
  width: calc(100% - 150px);
}



/* Customer information */

.payment-customer{
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--gray-cl-5);
}

.payment-customer p{
  display: flex;
  margin-bottom: 24px;
  color: var(--gray-cl-7);
}

.payment-customer p:last-child{
  margin-bottom: 0;
}




/* Payments option */

.payment-option .payment-option__item{
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-cl-3);
  background-color: var(--white-cl);
}

.payment-option__item .payment-option__header{
  display: flex;
  align-items: center;
  padding: 16px;
  column-gap: 16px;
}

.payment-option__header .form-check-input{
  display: none;
}

.payment-option__header .form-check-label{
  width: 16px;
  height: 16px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}

.payment-option__header .form-check-label::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  background-color: var(--primary-cl);
  transition: all 0.25s linear;
}

.payment-option__header .form-check-input:checked + .form-check-label::before{
  opacity: 1;
}

.payment-option__header .text{
  font-family: hm;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-cl-7);
}

.payment-option__item:first-child .payment-option__body p{
  display: flex;
}

.payment-option__body .content{
  padding: 0 48px 16px;
}

.payment-direct__title,
.payment-direct__body .item span,
.payment-option__text{
  color: var(--gray-cl-7);
}

.payment-direct__title{
  font-family: hb;
}

.payment-direct__body .item{
  display: flex;
  column-gap: 10px;
  margin-bottom: 8px;
}

.payment-direct__body .item:last-child{
  margin-bottom: 0;
}

.payment-direct__body .item span{
  width: auto;
  font-size: 18px;
}

.payment-direct__body .item .title{
  font-family: hb;
  white-space: nowrap;
}

.payment-option__text{
  font-size: 18px;
}

.payment-option__text a{
  text-decoration: underline;
  color: var(--primary-cl-4);
}

/* Order information */

.payment-order thead th{
  font-family: hb;
  padding: 0 0 24px;
}

.payment-order thead th:last-child{
  width: 40%;
}

.payment-order tbody td{
  font-size: 18px;
  line-height: 28px;
  padding: 24px 0;
}

.payment-order tfoot td{
  font-family: hb;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 0;
  padding: 24px 0 0;
}

.payment-order thead th,
.payment-order tbody td{
  border-bottom-color: var(--gray-cl-5) !important;
}

.payment-order thead th:first-child,
.payment-order tbody td:first-child{
  text-align: left;
}

.payment-order thead th:nth-child(2),
.payment-order tbody td:nth-child(2){
  text-align: center;
}

.payment-order thead th,
.payment-order tbody td,
.payment-order tfoot td{
  color: var(--gray-cl-7);
}

.payment-order thead th:last-child,
.payment-order tbody td:last-child,
.payment-order tfoot td:last-child{
  text-align: right;
}

.payment-order .promotion-title,
.payment-order .promotion-price{
  font-size: 16px;
  margin-top: 24px;
  color: var(--primary-cl);
}

.payment-order .btn-pay{
  margin: 48px auto 0;
}

@media (max-width: 1399.98px){
  .payment form{
    --w-payment-left: 642px;
  }

  .payment-order tfoot td{
    font-size: 20px;
  }
}

@media (max-width: 1199.98px){
  .payment form{
    --w-payment-left: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .payment-right{
    width: 100%;
  }
}

@media (max-width: 991.98px){

}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){

}