.payment{
  background-color: var(--gray-cl-1);
}

.payment form{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.payment-left,
.payment-right{
  padding: 32px;
  border-radius: 16px;
  background-color: var(--white-cl);
  box-shadow: 0px 5px 10px rgba(53, 99, 172, 0.3);
}

.payment-left{
  width: calc(772px - 12px);
}

.payment-right{
  width: calc(100% - 784px);
}

.payment-title{
  text-align: left;
  color: var(--gray-cl-7);
  margin-bottom: 48px;
}

.payment-customer{
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--gray-cl-5);
}

.payment-customer p,
.payment-form p{
  display: flex;
  margin-bottom: 24px;
  color: var(--gray-cl-7);
}

.payment-customer p:last-child,
.payment-form p:last-child{
  margin-bottom: 0;
}

.payment-customer span,
.payment-form span{
  font-size: 18px;
  display: inline-block;
  color: var(--gray-cl-7);
}

.payment-customer .title,
.payment-form .title{
  width: 150px;
  font-family: hb;
}

.payment-customer .text,
.payment-form .text{
  width: calc(100% - 150px);
}

.payment-option .payment-option__item{
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-cl-3);
  background-color: var(--white-cl);
}

.payment-option__item .payment-option__header{
  display: flex;
  align-items: center;
  padding: 16px;
  column-gap: 16px;
}

.payment-option__header .form-check-input{
  display: none;
}

.payment-option__header .form-check-label{
  width: 16px;
  height: 16px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-cl);
  background-color: var(--white-cl);
}

.payment-option__header .form-check-label::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  background-color: var(--primary-cl);
  transition: all 0.25s linear;
}

.payment-option__header .form-check-input:checked + .form-check-label::before{
  opacity: 1;
}

.payment-option__header .text{
  font-family: hm;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-cl-7);
}

.payment-option__body .title-big{
  font-size: 20px;
  font-family: hb;
  color: var(--gray-cl-7);
  margin-bottom: 8px;
}

.payment-option__body ul li{
  color: var(--gray-cl-7);
}

.payment-order thead th{
  font-family: hb;
  padding: 0 0 24px;
}

.payment-order thead th:last-child{
  width: 40%;
}

.payment-order tbody td{
  font-size: 18px;
  line-height: 28px;
  padding: 24px 0;
}

.payment-order tfoot td{
  font-family: hb;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 0;
  padding: 24px 0 0;
}

.payment-order thead th,
.payment-order tbody td{
  border-bottom-color: var(--gray-cl-5) !important;
}

.payment-order thead th:first-child,
.payment-order tbody td:first-child{
  text-align: left;
}

.payment-order thead th:nth-child(2),
.payment-order tbody td:nth-child(2){
  text-align: center;
}

.payment-order thead th:last-child,
.payment-order tbody td:last-child,
.payment-order tfoot td:first-child,
.payment-order tfoot td:last-child{
  text-align: right;
}

.payment-order .btn-pay{
  margin: 48px auto 0;
}